
@model Project_Redmil_MVC.Pages.Shared._selfHelpModel
@{
    <link href="~/css/selfhelp.css" rel="stylesheet" />
    <div class="row">
        <section class="body_self">
            <div class="faq">
                <div class="faq-left-desktop">
                    <div class="faq-left-image-desktop">
                        <img src="~/css/images/self1.svg" />

                    </div>
                    <div>
                        <img src="~/css/images/self2.svg" />
                    </div>

                </div>
                <div class="faq-left-mobile">
                    <div class="faq-left-image-mobile">
                        <img src="~/css/images/self1.svg" />
                    </div>
                </div>
                <div class="faq-right">
                    <div class="faq-title">Self Help</div>
                    <div class="faq-body">
                        <div class="Self_help">
                            <div class="controls"></div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>
    
}
<script>
    $(document).ready(function () {
        debugger;
        var myValue = $('#SlefHelpElement').val(); // Get the value of an input field with ID 'myElement'
        Wallet(myValue); // Pass the value to a function called 'myFunction'
    });

    function Wallet(e) {
        // code
        debugger;
        var ServiceId = e;
        $.ajax({
            url: "/Self_Help/SelfHelp",
            data: { 'ServiceId': ServiceId },
            type: 'POST',
            dataType: 'json',
            success: function (data) {
                debugger;
                for (var i = 0; i < data.length; i++) {
                    $(".Self_help").append('<div class="controls">\
                                        <details>\<summary>'+ data[i].question + '</summary><p>' + data[i].answer + '<p></details></div>');

                }
            }

        });
    }
</script>
