@model Project_Redmil_MVC.Models.ResponseModel.AepsResponseModel.AepsGetAllBankListResponseModel
@using Project_Redmil_MVC
@{
    ViewData["Title"] = "Aadhar ATM";
    Layout = "~/Pages/Shared/_LayoutMaster.cshtml";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap4.min.css" asp-append-version="true">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans" asp-append-version="true">
<link rel="stylesheet" href="~/servicesCSS/prepaidrecharge.css" />
<link rel="stylesheet" href="~/css/businessReport.css" />
<link href="~/ResponsiveCSS/ServicesNavigation.css" rel="stylesheet" />
<link rel="stylesheet" href="~/css/navbarheader.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<link href="~/ResponsiveCSS/Index.css" rel="stylesheet" />
<link href="~/css/Passbook2.css" rel="stylesheet" />


<br />
<div class="container-fluid">
    <div class="first-header">
        <div class="section background-image heading_page">
            <div class="container ">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <ul>
                            <li><strong class="heading_page_2">AADHAAR ATM</strong></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col col-md-12 col-sm-12 col-lg-12">
            <div class="modal-body" style="background-color:white;">
                <div class="row div-recharge-img">
                    <div class="col-sm-4 custom_img_size pay-img" style="text-align: center;">
                        <img src="/css/ImageLogo/redmil-new-logo2.png" class="img-width" style="height:100px;width:120px;">
                    </div>
                    <div class="col-sm-4 custom_img_size pay-img" style="text-align: center;">
                        </div>
                    <div class="col-sm-4 custom_img_size pay-img2" style="text-align: center;">
                        <img src="~/img/img_devices/NPCI.png" class="img-width" style="height:100px;width:100px;">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4"></div>
                        <div class="col-sm-4 custom_img_size" style="text-align: center;">
                        <img src="~/css/Img_Fastag/paytmLogo.jpeg" class="img-width" style="height: 100px;width: 120px;">
                        </div>
                    <div class="col-sm-4">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="passbooktabs">
    <button class="tablinks" onclick="openCity(event,'CashWithdrawal')" id="defaultOpen">CASH WITHDRAWAL</button>
    <button class="tablinks" onclick="openCity(event,'BalanceEnquiry')">BALANCE ENQUIRY</button>
    <button class="tablinks" onclick="openCity(event,'MiniStatement')">MINI STATEMENT</button>
</div>

@*<div class="passbooktabs tab">
    <div class="col-md-4" style="margin-left:150px">
        <button class="tablinks" style="font-weight:800" onclick="openCity(event,'CashWithdrawal')" id="defaultOpen">CASH WITHDRAWAL</button>
    </div>
    <div class="col-md-4" style="margin-left:150px">
        <button class="tablinks" style="font-weight:800" onclick="openCity(event,'BalanceEnquiry')">BALANCE ENQUIRY</button>
    </div>
    <div class="col-md-4" style="margin-left:150px">
        <button class="tablinks" style="font-weight:800" onclick="openCity(event,'MiniStatement')">MINI STATEMENT</button>
    </div>
</div>*@
<div class="container">
    <div id="CashWithdrawal" class="tabcontent">
        <div class="title">
            @*-------------------------------------------<!--Cash Withdrawal-->------------------------------------------------------*@
            <div class="row justify-content-center" style="display: flex;justify-content: center;">
                <div class="col-md-5">
                    <div class="card">
                        <h2 class="card-title text-center">Customer Details</h2>
                        <div class="card-body py-md-4">
                            <form _lpchecked="1">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="txtCustomerNameCashWithdrawal" placeholder="Customer Name">
                                    <br />
                                    <h5><span id="errtxtCustomerNameCashWithdrawal" style="color:red" class="errorMsg"></span></h5>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="txtMobileNumCashWithdrawal" placeholder="Mobile Number">
                                    <br />
                                    <h5><span id="errtxtMobileNumCashWithdrawal" style="color:red" class="errorMsg"></span></h5>
                                </div>
                                <div class="form-group">
                                    @if (ViewBag.BankList != null)
                                    {
                                        @Html.DropDownListFor(m =>m.Id , ViewBag.BankList as SelectList , "-- Choose Bank --" ,  new {@class="form-control"})
                                    }
                                    <br />
                                    <h5><span id="errSIdCashWithdrawal" style="color:red" class="errorMsg"></span></h5>

                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="txtAadharNumberCashWithdrawal" placeholder="Aadhar Number">
                                    <br />
                                    <h5><span id="errtxtAadharNumberCashWithdrawal" style="color:red" class="errorMsg"></span></h5>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="txtAmountCashWithdrawal" placeholder="Enter Amount">
                                    <br />
                                    <h5><span id="errtxtAmountCashWithdrawal" style="color:red" class="errorMsg"></span></h5>
                                </div>
                                <div class="form-group">
                                    <div class="tacbox">
                                        <input id="checkboxCashWithdrawal" type="checkbox" />
                                        <label for="checkbox">
                                            Terms & Conditions<br />
                                            Before you press next please read the <a style="color:blue" href="#"> Terms and Conditions</a>.
                                        </label>
                                    </div>
                                </div>
                                <div class="d-flex flex-row align-items-center justify-content-between" style="margin-left: 60px;padding-bottom: 40px;">
                                    <button class="button-21" style="width: 200px;">Next</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="BalanceEnquiry" class="tabcontent">
        <div class="title">
            @*-------------------------------------------<!--Balance Enquiry-->------------------------------------------------------*@
            <div class="row justify-content-center" style="display: flex;justify-content: center;">
                <div class="col-md-5">
                    <div class="card">
                        <h2 class="card-title text-center">Customer Details</h2>
                        <div class="card-body py-md-4">
                            <form _lpchecked="1">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="txtCustomerNameBalanceEnquiry" placeholder="Customer Name">
                                    <br />
                                    <h5><span id="errtxtCustomerNameBalanceEnquiry" style="color:red" class="errorMsg"></span></h5>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="txtMobileNumBalanceEnquiry" placeholder="Mobile Number">
                                    <br />
                                    <h5><span id="errtxtMobileNumBalanceEnquiry" style="color:red" class="errorMsg"></span></h5>
                                </div>
                                <div class="form-group">
                                    @if (ViewBag.BankList != null)
                                    {
                                        @Html.DropDownListFor(m =>m.Id , ViewBag.BankList as SelectList , "-- Choose Bank --" ,  new {@class="form-control"})
                                    }
                                    <br />
                                    <br />
                                    <h5><span id="errSIdBalanceEnquiry" style="color:red" class="errorMsg"></span></h5>

                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="txtAadharNumberBalanceEnquiry" placeholder="Aadhar Number">
                                    <br />
                                    <h5><span id="errtxtAadharNumberBalanceEnquiry" style="color:red" class="errorMsg"></span></h5>
                                </div>
                                <div class="form-group">
                                    <div class="tacbox">
                                        <input id="checkboxBalanceEnquiry" type="checkbox" />
                                        <label for="checkbox">
                                            Terms & Conditions<br />
                                            Before you press next please read the <a style="color:blue" href="#"> Terms and Conditions</a>.
                                        </label>
                                    </div>
                                </div>
                                <div class="d-flex flex-row align-items-center justify-content-between" style="margin-left: 60px;padding-bottom: 40px;">
                                    <button class="button-21" style="width: 200px;">Next</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="MiniStatement" class="tabcontent">
        <div class="title">
            @*-------------------------------------------<!--Mini Statement-->------------------------------------------------------*@
            <div class="row justify-content-center" style="display: flex;justify-content: center;">
                <div class="col-md-5">
                    <div class="card">
                        <h2 class="card-title text-center">Customer Details</h2>
                        <div class="card-body py-md-4">
                            <form _lpchecked="1">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="txtCustomerNameMiniStatement" placeholder="Customer Name">
                                    <br />
                                    <h5><span id="errtxtCustomerNameMiniStatement" style="color:red" class="errorMsg"></span></h5>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="txtMobileNum" placeholder="Mobile Number">
                                    <br />
                                    <h5><span id="errtxtMobileNum" style="color:red" class="errorMsg"></span></h5>
                                </div>
                                <div class="form-group">
                                    @if (ViewBag.BankList != null)
                                    {
                                        @Html.DropDownListFor(m =>m.Id , ViewBag.BankList as SelectList , "-- Choose Bank --" ,  new {@class="form-control"})
                                    }
                                    <br />
                                    <h5><span id="errSIdMiniStatement" style="color:red" class="errorMsg"></span></h5>

                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="txtAadharNumberMiniStatement" placeholder="Aadhar Number">
                                    <br />
                                    <h5><span id="errtxtAadharNumberMiniStatement" style="color:red" class="errorMsg"></span></h5>
                                </div>
                                <div class="form-group">
                                    <div class="tacbox">
                                        <input id="checkboxMiniStatement" type="checkbox" />
                                        <label for="checkbox">
                                            Terms & Conditions<br />
                                            Before you press next please read the <a style="color:blue" href="#"> Terms and Conditions</a>.
                                        </label>
                                    </div>
                                </div>
                                <div class="d-flex flex-row align-items-center justify-content-between" style="margin-left: 60px;padding-bottom: 40px;">
                                    <button class="button-21" style="width: 200px;">Next</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    document.getElementById("defaultOpen").click();
</script>