@using Project_Redmil_MVC
@{
    ViewData["Title"] = "Banking Services";
    Layout = "~/Pages/Shared/_LayoutMaster.cshtml";
}
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="stylesheet" href="~/servicesCSS/prepaidrecharge.css" />
<link rel="stylesheet" href="~/css/businessReport.css" />
<link href="~/ResponsiveCSS/Index.css" rel="stylesheet" />
<link href="~/ResponsiveCSS/Aeps.css" rel="stylesheet" />
<link href="~/ResponsiveCSS/ServicesNavigation.css" rel="stylesheet" />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center padding-bottom-30">
            <div class="section-title section_title">
                <h1 class="heading_services"><span>Banking Services</span></h1>
            </div>
        </div>
    </div>
</div>

<br />
<br />
<br />
<br />


<div class="section services-area padding-top-bottom-60 row_heading_start">
    <div class="container">
        <section class="customer-logos Bill-Payement-Top" data-arrows="true">
            
            <div class="row" id="row2">
                <div class="col-md-12">

                    <div class="col-md-3 col-sm-3 col-3 col-xs-3 col-custom text-center col-centered row_cashWithdrawal">
                        <a data-target="#modalServiceComing" data-toggle="modal" class="radio1" style="text-align: center;margin-left: 100px;">
                            <div class="wallet-box bg-wt-round wallet_box_border">
                                <div class="inner">
                                    <div class="advantage-images">
                                        <img src="/css/Img_IconForNavigation/UPI-CashWithdrawal.png" class="img-responsive" alt="UPI Cash Withdrawal" title="UPI Cash Withdrawal">
                                    </div>
                                    <b class="about_services_para">UPI Cash Withdrawal</b>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-3 col-3 col-xs-3 col-custom text-center col-centered row_cashWithdrawal">
                        <a data-target="#modalServiceComing" data-toggle="modal" class="radio1" style="text-align: center;margin-left: 100px;">
                            <div class="wallet-box bg-wt-round wallet_box_border">
                                <div class="inner">
                                    <div class="advantage-images">
                                        <img src="/css/Img_IconForNavigation/Savings-Account.png" class="img-responsive" alt="Saving Account" title="Saving Account">
                                    </div>
                                    <b class="about_services_para">Saving Account</b>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-3 col-3 col-xs-3 col-custom text-center col-centered row_cashWithdrawal">
                        <a data-target="#modalServiceComing" data-toggle="modal" class="radio1" style="text-align: center;margin-left: 70px;">
                            <div class="wallet-box bg-wt-round wallet_box_border">
                                <div class="inner">
                                    <div class="advantage-images">
                                        <img src="/css/Img_IconForNavigation/Salaried-Account.png" class="img-responsive" alt="Salary Account" title="Salary Account">
                                    </div>
                                    <b class="about_services_para">Salary Account</b>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-3 col-3 col-xs-3 col-custom text-center col-centered row_cashWithdrawal">
                        <a data-target="#modalServiceComing" data-toggle="modal" class="radio1" style="text-align: center;margin-left: 5px;display: inherit;margin-top:20px;">
                            <div class="wallet-box bg-wt-round wallet_box_border">
                                <div class="inner">
                                    <div class="advantage-images">
                                        <img src="/css/Img_IconForNavigation/Individual-Current-Account.png" class="img-responsive" alt="Individual Current Account" title="Individual Current Account">
                                    </div>
                                    <b class="about_services_para">Individual Current Account</b>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row" id="row3">
                <div class="col-md-12">

                    <div class="col-md-3 col-sm-3 col-3 col-xs-3 col-custom text-center col-centered row_cashWithdrawal">
                        <a data-target="#modalServiceComing" data-toggle="modal" class="radio1" style="text-align: center;margin-left: 70px;">
                            <div class="wallet-box bg-wt-round wallet_box_border">
                                <div class="inner">
                                    <div class="advantage-images">
                                        <img src="/css/Img_IconForNavigation/Current-Account.png" class="img-responsive" alt="Current Account" title="Current Account">
                                    </div>
                                    <b class="about_services_para">Current Account</b>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-3 col-sm-3 col-3 col-xs-3 col-custom text-center col-centered row_cashWithdrawal">
                        <a data-target="#modalServiceComing" data-toggle="modal" class="radio1" style="text-align: center;margin-left: 100px;">
                            <div class="wallet-box bg-wt-round wallet_box_border">
                                <div class="inner">
                                    <div class="advantage-images">
                                        <img src="/css/Img_IconForNavigation/Credit-Card-2.png" class="img-responsive" alt="Credit Card" title="Credit Card">
                                    </div>
                                    <b class="about_services_para">Credit Card</b>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-3 col-sm-3 col-3 col-xs-3 col-custom text-center col-centered row_cashWithdrawal">
                        <a data-target="#modalServiceComing" data-toggle="modal" class="radio1" style="text-align: center;margin-left: 5px;display:inherit;margin-top:20px;">
                            <div class="wallet-box bg-wt-round wallet_box_border">
                                <div class="inner">
                                    <div class="advantage-images">
                                        <img src="/css/Img_IconForNavigation/Buy-Now-Pay-Later.png" class="img-responsive" alt="Buy Now Pay Later" title="Buy Now Pay Later">
                                    </div>
                                    <b class="about_services_para">Buy Now Pay Later</b>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-3 col-sm-3 col-3 col-xs-3 col-custom text-center col-centered row_cashWithdrawal">
                        <a data-target="#modalServiceComing" data-toggle="modal" class="radio1" style="text-align: center;margin-left: 100px;">
                            <div class="wallet-box bg-wt-round wallet_box_border">
                                <div class="inner">
                                    <div class="advantage-images">
                                        <img src="/css/Img_IconForNavigation/EMI-Cards.png" class="img-responsive" alt="EMI Cards" title="EMI Cards">
                                    </div>
                                    <b class="about_services_para">EMI Cards</b>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row" id="row4">
                <div class="col-md-12">
                    <div class="col-md-3 col-sm-3 col-3 col-xs-3 col-custom text-center col-centered row_cashWithdrawal">
                        <a data-target="#modalServiceComing" data-toggle="modal" class="radio1" style="text-align: center;margin-left: 70px;">
                            <div class="wallet-box bg-wt-round wallet_box_border">
                                <div class="inner">
                                    <div class="advantage-images">
                                        <img src="/css/Img_IconForNavigation/Cash-Collection.png" class="img-responsive" alt="Cash Collection" title="Cash Collection">
                                    </div>
                                    <b class="about_services_para">Cash Collection</b>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-3 col-sm-3 col-3 col-xs-3 col-custom text-center col-centered row_cashWithdrawal">
                        <a data-target="#modalServiceComing" data-toggle="modal" class="radio1" style="text-align: center;margin-left: 15px;margin-top:20px;">
                            <div class="wallet-box bg-wt-round wallet_box_border">
                                <div class="inner">
                                    <div class="advantage-images">
                                        <img src="/css/Img_IconForNavigation/Credit-Crad-Bill-Payment.png" class="img-responsive" alt="Credit Card Bill Payment" title="Credit Card Bill Payment">
                                    </div>
                                    <b class="about_services_para">Credit Card Bill Payment</b>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-3 col-sm-3 col-3 col-xs-3 col-custom text-center col-centered row_cashWithdrawal">
                        <a data-target="#modalServiceComing" data-toggle="modal" class="radio1" style="text-align: center;margin-left: 100px;">
                            <div class="wallet-box bg-wt-round wallet_box_border">
                                <div class="inner">
                                    <div class="advantage-images">
                                        <img src="/css/Img_IconForNavigation/Rent-Payment.png" class="img-responsive" alt="Rent Payment" title="Rent Payment">
                                    </div>
                                    <b class="about_services_para">Rent Payment</b>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-3 col-3 col-xs-3 col-custom text-center col-centered row_cashWithdrawal">
                        <a data-target="#modalServiceComing" data-toggle="modal" class="radio1" style="text-align: center;margin-left: 100px;">
                            <div class="wallet-box bg-wt-round wallet_box_border">
                                <div class="inner slide">
                                    <div class="advantage-images">
                                        <img src="/css/Img_IconForNavigation/DMT-Yes-Bank.png" class="img-responsive" alt="DMT Yes Bank" title="DMT Yes Bank">
                                    </div>
                                    <b class="about_services_para">DMT Yes Bank</b>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row" id="row1">
                <div class="col-md-12">
                    <div class="col-md-3 col-sm-3 col-3 col-xs-3 col-custom text-center col-centered row_cashWithdrawal">
                        <a href="~/Aeps/AEPS" class="radio1 radio1_center">
                            <div class="wallet-box bg-wt-round wallet_box_border">
                                <div class="inner slide">
                                    <div class="advantage-images">
                                        <img src="/css/Img_IconForNavigation/AEPS.png" class="img-responsive" alt="Aadhar ATM" title="Aadhar ATM">
                                    </div>
                                    <b class="about_services_para">Aadhar ATM</b>
                                </div>
                            </div>
                        </a>
                    </div>
                    
                    <div class="col-md-3 col-sm-3 col-3 col-xs-3 col-custom text-center col-centered row_cashWithdrawal">
                        <a href="~/DMT2/StartUp" class="radio1 radio1_center">
                            <div class="wallet-box bg-wt-round wallet_box_border">
                                <div class="inner slide">
                                    <div class="advantage-images">
                                        <img src="/css/Img_IconForNavigation/DMT-2.0.png" class="img-responsive" alt="DMT 2.0" title="DMT 2.0">
                                    </div>
                                    <b class="about_services_para">DMT 2.0</b>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-3 col-sm-3 col-3 col-xs-3 col-custom text-center col-centered row_cashWithdrawal">
                        <a data-target="#modalServiceComing" data-toggle="modal" class="radio1" style="text-align: center;margin-left: 100px;">
                            <div class="wallet-box bg-wt-round wallet_box_border">
                                <div class="inner">
                                    <div class="advantage-images">
                                        <img src="/css/Img_IconForNavigation/Micro-ATM.png" class="img-responsive" alt="Micro ATM" title="Micro ATM">
                                    </div>
                                    <b class="about_services_para">Micro ATM</b>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<!-- Modal For ServicesComing-->
<div class="modal fade" id="modalServiceComing" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header modal-header-recharge">
                <a data-dismiss="modal" style="padding-top:12px;" class="close">&times;</a>
            </div>
            <div class="modal-body" style="background-color:white;">
                <div class="row">
                    <div class="col-sm-12" style="text-align:center">
                        <h3 style="text-align:center;font-weight:700;">This service is coming soon!</h3>
                    </div>
                </div>
            </div>
            <div class="modal-footer div-pay-row">
                <div class="row div-pay-row">
                    <div class="col-sm-4 final-pay-button">
                        <button type="button" id="btnPayNow" data-dismiss="modal" class="btn-process-recharge1 btn-process-recharge2 btn-process-recharge3">Ok</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
