@using Project_Redmil_MVC
@{
    ViewData["Title"] = "Bill Payment Services";
    Layout = "~/Pages/Shared/_LayoutMaster.cshtml";
}

<style>
    .button-23:hover {
        color: white;
    }

    .wallet-box .bg-wt-round {
        background: #fff;
        border-radius: 30px;
        padding: 10px 0px;
    }

    .wallet_breadcumb-area {
        position: relative;
        padding: 140px 0;
        background-size: cover;
        background-position: center center;
        position: relative;
        background-position: 75% 10%;
    }

        .wallet_breadcumb-area:before {
            position: absolute;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            content: "";
            /*background: rgba(0, 0, 0, 0.5);*/
            top: 0;
            z-index: 0;
        }

        .wallet_breadcumb-area ul {
            text-align: center;
        }

            .wallet_breadcumb-area ul li {
                display: block;
                font-weight: 500;
                font-size: 16px;
                color: #fff;
            }

                .wallet_breadcumb-area ul li:first-child {
                    font-size: 50px;
                    font-weight: 700;
                    line-height: 5rem;
                    color: #fff;
                }

                .wallet_breadcumb-area ul li a {
                    color: #ffffff;
                }
</style>
<br />
<br />
<br />
<br />
<br />
<br />

<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center padding-bottom-30">
            <div class="section-title" style="border-radius: 10px; box-shadow: 0 0 20px rgb(0 0 0 / 20%);max-width: 50%;padding-top: 2px;padding-bottom: 2px;">
                <h1 style="padding: 10px; font-weight: 700; color: #2d385e;"><span>Bill Payments Services</span></h1>
            </div>
        </div>
    </div>
</div>

<br />
<br />
<br />
<br />


<div class="section services-area padding-top-bottom-60">
    <div class="container">
        <section class="customer-logos slider" data-arrows="true">
            <div class="row" id="aepsChooseTrasaction" style="margin-left:96px;margin-top:25px;">
                <div class="col-md-12">
                    <div class="col-md-2 col-sm-2 col-6 col-xs-6 col-custom text-center col-centered" id="cashWithdrawal" style="width:350px; cursor: pointer; padding-right: 20px;">
                        <a href="~/ElectricityBill/ElectricityBill" class="radio1" style="text-align: center;margin-left: 80px;">
                            <div class="wallet-box bg-wt-round" style="border: 5px solid #2d385e;">
                                <div class="inner">
                                    <div class="advantage-images">
                                        <img src="/css/Img_IconForNavigation/Electricity-Bill.png" class="img-responsive" alt="Cash Withdrawal" title="Cash Withdrawal">
                                    </div>
                                    <b style="font-weight: 900; font-size: 20px; color: #2d385e;">Electricity Bill</b>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-2 col-sm-2 col-6 col-xs-6 col-custom text-center col-centered" id="balanceEnquiry" style="width:350px; cursor: pointer; padding-right: 20px;">
                        <a href="~/GasBill/GasBill" class="radio1" style="text-align: center;margin-left: 100px;">
                            <div class="wallet-box bg-wt-round" style="border: 5px solid #2d385e;">
                                <div class="inner">
                                    <div class="advantage-images">
                                        <img src="/css/Img_IconForNavigation/Gas-Bill.png" class="img-responsive" alt="Balance Enquiry" title="Balance Enquiry">
                                    </div>
                                    <b style="font-weight: 900; font-size: 20px; color: #2d385e;">Gas Bill</b>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-2 col-sm-2 col-6 col-xs-6 col-custom text-center col-centered" id="minStatement" style="width:350px; cursor: pointer; padding-right: 20px;">
                        <a href="~/WaterBill/WaterBill" class="radio1" style="text-align: center;margin-left: 100px;">
                            <div class="wallet-box bg-wt-round" style="border: 5px solid #2d385e;">
                                <div class="inner">
                                    <div class="advantage-images">
                                        <img src="/css/Img_IconForNavigation/Water-Bill.png" class="img-responsive" alt="Mini Statement" title="Mini Statement">
                                    </div>
                                    <b style="font-weight: 900; font-size: 20px; color: #2d385e;">Water Bill</b>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
            </div>

            <div class="row" id="aepsChooseTrasaction" style="margin-left:96px;margin-top:25px">
                <div class="col-md-12">
                    <div class="col-md-2 col-sm-2 col-6 col-xs-6 col-custom text-center col-centered" id="cashWithdrawal" style="width:350px; cursor: pointer; padding-right: 20px;">
                        <a href="~/LPGGasBill/LPGGasBill" class="radio1" style="text-align: center;margin-left: 125px;">
                            <div class="wallet-box bg-wt-round" style="border: 5px solid #2d385e;">
                                <div class="inner">
                                    <div class="advantage-images">
                                        <img src="/css/Img_IconForNavigation/LPG.png" class="img-responsive" alt="Cash Withdrawal" title="Cash Withdrawal">
                                    </div>
                                    <b style="font-weight: 900; font-size: 20px; color: #2d385e;">LPG</b>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-2 col-sm-2 col-6 col-xs-6 col-custom text-center col-centered" id="balanceEnquiry" style="width:350px; cursor: pointer; padding-right: 20px;">
                        <a href="~/LandlineBill/LandlineBill" class="radio1" style="text-align: center;margin-left: 106px;">
                            <div class="wallet-box bg-wt-round" style="border: 5px solid #2d385e;">
                                <div class="inner">
                                    <div class="advantage-images">
                                        <img src="/css/Img_IconForNavigation/Land-Line.png" class="img-responsive" alt="Balance Enquiry" title="Balance Enquiry">
                                    </div>
                                    <b style="font-weight: 900; font-size: 20px; color: #2d385e;">Landline</b>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-2 col-sm-2 col-6 col-xs-6 col-custom text-center col-centered" id="minStatement" style="width:350px; cursor: pointer; padding-right: 20px;">
                        <a href="~/CableTVBill/CableTVBill" class="radio1" style="text-align: center;margin-left: 100px;">
                            <div class="wallet-box bg-wt-round" style="border: 5px solid #2d385e;">
                                <div class="inner">
                                    <div class="advantage-images">
                                        <img src="/css/Img_IconForNavigation/Cable-TV.png" class="img-responsive" alt="Mini Statement" title="Mini Statement">
                                    </div>
                                    <b style="font-weight: 900; font-size: 20px; color: #2d385e;">Cable TV</b>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
            <div class="row" id="aepsChooseTrasaction" style="margin-left:96px;margin-top:25px">
                <div class="col-md-12">
                    <div class="col-md-2 col-sm-2 col-6 col-xs-6 col-custom text-center col-centered" id="cashWithdrawal" style="width:350px; cursor: pointer; padding-right: 20px;">
                        <a href="~/BroadbandBill/BroadbandBill" class="radio1" style="text-align: center;margin-left: 95px;">
                            <div class="wallet-box bg-wt-round" style="border: 5px solid #2d385e;">
                                <div class="inner">
                                    <div class="advantage-images">
                                        <img src="/css/Img_IconForNavigation/Broadband.png" class="img-responsive" alt="Cash Withdrawal" title="Cash Withdrawal">
                                    </div>
                                    <b style="font-weight: 900; font-size: 20px; color: #2d385e;">Broadband</b>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-2 col-sm-2 col-6 col-xs-6 col-custom text-center col-centered" id="balanceEnquiry" style="width:350px; cursor: pointer; padding-right: 20px;">
                        <a href="/LifeInsuranceBill/LifeInsuranceBill" class="radio1" style="text-align: center;margin-left: 5px;display: inherit;margin-top:20px;">
                            <div class="wallet-box bg-wt-round" style="border: 5px solid #2d385e;">
                                <div class="inner">
                                    <div class="advantage-images">
                                        <img src="/css/Img_IconForNavigation/Life-Insurance.png" class="img-responsive" alt="Balance Enquiry" title="Balance Enquiry">
                                    </div>
                                    <b style="font-weight: 900; font-size: 20px; color: #2d385e;">Life Insurance</b>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-2 col-sm-2 col-6 col-xs-6 col-custom text-center col-centered" id="minStatement" style="width:350px; cursor: pointer; padding-right: 20px;">
                        <a href="~/HealthBill/HealthBill" class="radio1" style="text-align: center;margin-left: 125px;">
                            <div class="wallet-box bg-wt-round" style="border: 5px solid #2d385e;">
                                <div class="inner">
                                    <div class="advantage-images">
                                        <img src="/css/Img_IconForNavigation/Health-Insurance.png" class="img-responsive" alt="Mini Statement" title="Mini Statement">
                                    </div>
                                    <b style="font-weight: 900; font-size: 20px; color: #2d385e;">Health</b>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row" id="aepsChooseTrasaction" style="margin-left:96px;margin-top:25px">
                <div class="col-md-12">
                    <div class="col-md-2 col-sm-2 col-6 col-xs-6 col-custom text-center col-centered" id="cashWithdrawal" style="width:350px; cursor: pointer; padding-right: 20px;">
                        <a href="~/LoanRepaymentBill/LoanRepaymentBill" class="radio1" style="text-align: center;margin-left: 65px;">
                            <div class="wallet-box bg-wt-round" style="border: 5px solid #2d385e;">
                                <div class="inner">
                                    <div class="advantage-images">
                                        <img src="/css/Img_IconForNavigation/Digital-Business-Loan.png" class="img-responsive" alt="Cash Withdrawal" title="Cash Withdrawal">
                                    </div>
                                    <b style="font-weight: 900; font-size: 20px; color: #2d385e;">Loan Repayment</b>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-2 col-sm-2 col-6 col-xs-6 col-custom text-center col-centered" id="balanceEnquiry" style="width:350px; cursor: pointer; padding-right: 20px;">
                        <a href="~/CreditCardBill/CreditCardBill" class="radio1" style="text-align: center;margin-left: 5px;display:inherit;margin-top:20px;">
                            <div class="wallet-box bg-wt-round" style="border: 5px solid #2d385e;">
                                <div class="inner">
                                    <div class="advantage-images">
                                        <img src="/css/Img_IconForNavigation/Credit-Card.png" class="img-responsive" alt="Balance Enquiry" title="Balance Enquiry">
                                    </div>
                                    <b style="font-weight: 900; font-size: 20px; color: #2d385e;">Credit Card</b>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-2 col-sm-2 col-6 col-xs-6 col-custom text-center col-centered" id="minStatement" style="width:350px; cursor: pointer; padding-right: 20px;">
                        <a href="~/HospitalBill/HospitalBill" class="radio1" style="text-align: center;margin-left: 100px;">
                            <div class="wallet-box bg-wt-round" style="border: 5px solid #2d385e;">
                                <div class="inner">
                                    <div class="advantage-images">
                                        <img src="/css/Img_IconForNavigation/Hospital.png" class="img-responsive" alt="Mini Statement" title="Mini Statement">
                                    </div>
                                    <b style="font-weight: 900; font-size: 20px; color: #2d385e;">Hospital</b>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
            <div class="row" id="aepsChooseTrasaction" style="margin-left:96px;margin-top:25px">
                <div class="col-md-12">
                    <div class="col-md-2 col-sm-2 col-6 col-xs-6 col-custom text-center col-centered" id="cashWithdrawal" style="width:350px; cursor: pointer; padding-right: 20px;">
                        <a href="~/HousingSocietyBill/HousingSocietyBill" class="radio1" style="text-align: center;margin-left: 70px;">
                            <div class="wallet-box bg-wt-round" style="border: 5px solid #2d385e;">
                                <div class="inner">
                                    <div class="advantage-images">
                                        <img src="/css/Img_IconForNavigation/Housign-&-Society.png" class="img-responsive" alt="Cash Withdrawal" title="Cash Withdrawal">
                                    </div>
                                    <b style="font-weight: 900; font-size: 20px; color: #2d385e;">Hosuing Society</b>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-2 col-sm-2 col-6 col-xs-6 col-custom text-center col-centered" id="balanceEnquiry" style="width:350px; cursor: pointer; padding-right: 20px;">
                        <a href="~/InsuranceBill/InsuranceBill" class="radio1" style="text-align: center;margin-left: 100px;">
                            <div class="wallet-box bg-wt-round" style="border: 5px solid #2d385e;">
                                <div class="inner">
                                    <div class="advantage-images">
                                        <img src="/css/Img_IconForNavigation/Insurance-2.png" class="img-responsive" alt="Balance Enquiry" title="Balance Enquiry">
                                    </div>
                                    <b style="font-weight: 900; font-size: 20px; color: #2d385e;">Insurance</b>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-2 col-sm-2 col-6 col-xs-6 col-custom text-center col-centered" id="minStatement" style="width:350px; cursor: pointer; padding-right: 20px;">
                        <a href="~/MunicipialServicesBill/MunicipialServicesBill" class="radio1" style="text-align: center;margin-left: 60px;">
                            <div class="wallet-box bg-wt-round" style="border: 5px solid #2d385e;">
                                <div class="inner">
                                    <div class="advantage-images">
                                        <img src="/css/Img_IconForNavigation/Municipal-Services.png" class="img-responsive" alt="Mini Statement" title="Mini Statement">
                                    </div>
                                    <b style="font-weight: 900; font-size: 20px; color: #2d385e;">Municipal Services</b>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row" id="aepsChooseTrasaction" style="margin-left:96px;margin-top:25px">
                <div class="col-md-12">
                    <div class="col-md-2 col-sm-2 col-6 col-xs-6 col-custom text-center col-centered" id="cashWithdrawal" style="width:350px; cursor: pointer; padding-right: 20px;">
                        <a href="~/MunicipialTaxesBill/MunicipialTaxesBill" class="radio1" style="text-align: center;margin-left: 70px;">
                            <div class="wallet-box bg-wt-round" style="border: 5px solid #2d385e;">
                                <div class="inner">
                                    <div class="advantage-images">
                                        <img src="/css/Img_IconForNavigation/Municipal-Taxes.png" class="img-responsive" alt="Cash Withdrawal" title="Cash Withdrawal">
                                    </div>
                                    <b style="font-weight: 900; font-size: 20px; color: #2d385e;">Municipal Taxes</b>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-2 col-sm-2 col-6 col-xs-6 col-custom text-center col-centered" id="balanceEnquiry" style="width:350px; cursor: pointer; padding-right: 20px;">
                        <a href="~/SubscriptionsBill/SubscriptionsBill" class="radio1" style="text-align: center;margin-left: 80px;">
                            <div class="wallet-box bg-wt-round" style="border: 5px solid #2d385e;">
                                <div class="inner">
                                    <div class="advantage-images">
                                        <img src="/css/Img_IconForNavigation/Subscriptions.png" class="img-responsive" alt="Balance Enquiry" title="Balance Enquiry">
                                    </div>
                                    <b style="font-weight: 900; font-size: 20px; color: #2d385e;">Subscriptions</b>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-2 col-sm-2 col-6 col-xs-6 col-custom text-center col-centered" id="minStatement" style="width:350px; cursor: pointer; padding-right: 20px;">
                        <a href="/ClubAndAssociationBill/ClubAndAssociationBill" class="radio1" style="text-align: center;margin-left: 50px;">
                            <div class="wallet-box bg-wt-round" style="border: 5px solid #2d385e;">
                                <div class="inner">
                                    <div class="advantage-images">
                                        <img src="/css/Img_IconForNavigation/Clubs-&-Assoiciations.png" class="img-responsive" alt="Mini Statement" title="Mini Statement">
                                    </div>
                                    <b style="font-weight: 900; font-size: 20px; color: #2d385e;">Club & Association</b>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row" id="aepsChooseTrasaction" style="margin-left:96px;margin-top:25px">
                <div class="col-md-12">
                    <div class="col-md-2 col-sm-2 col-6 col-xs-6 col-custom text-center col-centered" id="cashWithdrawal" style="width:350px; cursor: pointer; padding-right: 20px;">
                        <a href="~/LICIndiaBill/LICIndiaBill" class="radio1" style="text-align: center;margin-left: 110px;">
                            <div class="wallet-box bg-wt-round" style="border: 5px solid #2d385e;">
                                <div class="inner">
                                    <div class="advantage-images">
                                        <img src="/css/Img_IconForNavigation/LIC.png" class="img-responsive" alt="Cash Withdrawal" title="Cash Withdrawal">
                                    </div>
                                    <b style="font-weight: 900; font-size: 20px; color: #2d385e;">LIC India</b>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

