@model Project_Redmil_MVC.Models.RequestModel.Applyforfrenchise.ApplyForFrenchiseRequest
@{
    ViewData["Title"] = "ApplyForFranchise";
    Layout = "~/Pages/Shared/_LayoutMaster.cshtml";
}

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="~/servicesCSS/prepaidrecharge.css" />
@*<link rel="stylesheet" href="~/css/businessReport.css" />*@
<link href="~/ResponsiveCSS/Index.css" rel="stylesheet" />
<link href="~/ResponsiveCSS/ServicesNavigation.css" rel="stylesheet" />
<link rel="stylesheet" href="~/servicesCSS/postpaidrecharge.css" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/rechargejs/recharge.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="~/css/navbarheader.css">
<link href="~/ResponsiveCSS/Wallet.css" rel="stylesheet" />

<style>
    /*.row-fernchise-body {
        margin: 0 auto;
        width: 90%;
        max-width: 1600px;
        margin-top: 107px;
        height: 636px;
    }*/

    /*.hr {
                        background-color: black;
                        margin: 20px
                    }*/
                    .success_frenchise
                    {
                    height: 315px;
                    margin-top: 137px;
                    }
    .confirm_dash {
        background-color: rgb(136, 8, 8);
        width: 33%;
        height: 36px;
        color: white;
        font-size: 20px;
    }

    .confirm_dash_succes {
        background-color: rgb(0,128,0);
        width: 33%;
        height: 36px;
        color: white;
        font-size: 20px;
    }

    
    .forbenefit {
        margin-left: 20px
    }
</style>
<!--Body Start Here-->
<div class="container-fluid">
    <div class="section background-image heading_page">
    @*<div class="section background-image" style="background-image: url('../css/Img/new_tech_11.png');width:100%;font-weight: 700;line-height: 5rem;color: #fff;padding: 40px 0;">*@
        <div class="container ">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <ul>
                        @*<li><strong style="font-size: 36px;">Apply For Franchise</strong></li>*@
                        <li><strong class="heading_page_2">Apply For Franchise</strong></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <br />
    @*<br />
    <br />
    <br />*@
    <div class="row">
        <div class="col-sm-12 text-center padding-bottom-30">
            <div class="section-title div_wallet">
                <h1 class="heading_wallet"><span style="color: #2d385e;">WELCOME TO REDMIL FAMILY</span></h1>
            </div>
        </div>
    </div>

    <hr />
    <br />
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="2000" data-pause="hover">
                    <!-- Indicators -->
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <div class="carousel-content">
                                <div style="margin: 0 auto">
                                    <p>
                                        <img src="/css/Img_Frenchise/MF-Banner.png" style="width:100%;" alt="Chania" />
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="carousel-content">
                                <div style="margin: 0 auto">
                                    <p>
                                        <img src="/css/Img_Frenchise/Franchise-Banner.png" style="width:100%;" alt="Chania" />
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    @*<div class="row">

        <div class="col col-md-12 col-sm-12 col-lg-12">
            <img src="/css/Img_Frenchise/MF-Banner.png" style="width:100%;" alt="Norway" />
        </div>
    </div>*@
    <br />
    @*<br />
    <br />*@
    <!--Header Div Ends Here-->
    <div class="row" style="background: #ebebeb;">
        <div class="col col-md-12 col-sm-12 col-lg-12">
            <div class="row-fernchise-body">
                <div class="col-3 col-md-3 cr1 div-input" style="background: white; border-radius: 20px; ">
                    <!--Card for recharge starts here-->
                    <div class="card">
                        <div class="card-body">
                            @*<h3 class="card-title" style="margin-top:15px;text-align:center;padding-top: 20px;font-weight:bold;"><strong>Apply For Franchise</strong></h3><hr class="hr" />*@
                            <h3 class="card-title heading_div"><strong>Apply For Franchise</strong></h3><hr class="hr" />

                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <div class="modal-body p-5 img align-items-center color-2">
                                        <div class="text w-100 py-0 py-md-5">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-12">

                                                    <div class="form-group-recharge">

                                                        <input id="TxtCity"
                                                               autocomplete="off" required="required" class="txt-input  txt-input-text" placeholder="Enter City" /><br />
                                                        <span id="Txt_city" style="color: red"></span>

                                                    </div>
                                                    <div class="form-group-recharge">

                                                        <input id="TxtArea" autocomplete="off" class="txt-input  txt-input-text" required="required" placeholder="Enter Area"><br />
                                                        <span id="Txt_area" style="color: red"></span>

                                                    </div>
                                                    <br />
                                                    <div class="row">
                                                        <h4 class="select_franchise">Select your preference</h4><br />
                                                        <div class="col-sm-6">
                                                            <div class="form-check form-check-inline select_franchise_div" style="padding-left: 68px;">
                                                                <input class="form-check-input" id="TxtPreference1" type="radio" name="inlineRadioOptions" style=" display: inline-block; width: 50px; height: 11px;" value="Frenchise">
                                                                <label class="form-check-label" for="inlineRadio1" style="margin-left: -16px">Franchise</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6" style="margin-left:-87px">
                                                            <div class="form-check form-check-inline select_franchise_div">
                                                                <input class="form-check-input" id="TxtPreference2" type="radio" name="inlineRadioOptions" value="MasterFrenchise" style=" display: inline-block; width: 50px; height: 11px;">
                                                                <label class="form-check-label" for="inlineRadio2" style="margin-left: -16px">Master Franchise</label>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <br /><br />
                                                    <div class="form-group-recharge form-group-recharge-button">
                                                        @*<button type="submit" style="background-image: linear-gradient(1deg, #4F58FD, #2d385e 99%);" onclick="forfrenchise()" class="btn-process-recharge1 btn-process-recharge2 btn-process-recharge3">Submit</button>*@
                                                        <button type="submit" onclick="forfrenchise()" class="btn-process-recharge3">Submit</button>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Card for recharge ends here-->
                    </div>
                </div>
                <div class="col-1 col-md-1" style="width:4%">
                    <!--Blank Space Between Recharge and Plans Pannel-->
                </div>
                <div class="col-8 col-md-8 div-plans-table" style="background: white;border-radius: 20px;height: 508px;display:block;">
                    <div class="row mt-50">
                        <div class="forbenefit">
                            @*<h3 class="text-center" style="margin-top:15px;text-align:center;padding-top: 20px;font-weight:bold;">Benefits</h3><hr class="hr" />*@
                            <h3 class="text-center heading_div">Benefits</h3><hr class="hr" />
                            <h4 class="p_heading_franchise_1">35+ Services in one platform</h4>
                            <span class="p_heading_franchise_2">Earn monthly Rs.50000 - 200000 by</span>
                            <span class="p_heading_franchise_2">providing A to Z banking services and earn respect.</span>
                        </div>
                        <div class="forbenefit">
                            <h4 class="p_heading_franchise_1">Become a banking point </h4>
                            <span class="p_heading_franchise_2">Partnered with 50+ Banks and 100+ </span>
                            <span class="p_heading_franchise_2">international companies to become a complete banking point of your area and neighbourhood .</span>
                        </div>


                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<!--Modal for Error-->
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <input type="button" id="Error_modal_Frenchise" style="display:none" data-target="#Error_modal_Frenchises" data-toggle="modal">
        <div id="Error_modal_Frenchises" role="dialog" class="modal fade in" aria-modal="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-confirm">
                <div class="modal-content modal_error_content">
                    <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="padding-right: 14px; padding-right: 14px; font-size: 25px; font-weight: bolder;">×</span>
                    </button>
                    <div class="">
                        <div class="icon-box" id="icons" style="margin-top: 40px; background-color: rgb(136, 8, 8);">
                            <label id="img"><i class="fa fa-times" aria-hidden="true"></i></label>
                        </div>
                        <h4 id="heding" class="modal-title w-100" style="padding-top:54px">failed</h4>
                    </div>
                    <div class="modal-body">
                        <h3 class="p-new text-center"><label id="lblMsg_Confirm_SuuceessError"></label></h3>

                        <div class="modal-footer">
                            <button type="button" class="btn-final-Error theclos confirm_dash" data-dismiss="modal"><b>Ok</b></button>
                           
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!--Modal for Success-->
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <input type="button" id="Error_modal_Frenchise_Success" style="display:none" data-target="#Error_modal_Frenchisess" data-toggle="modal">
        <div id="Error_modal_Frenchisess" role="dialog" class="modal fade in" aria-modal="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-confirm">
                <div class="modal-content modal_error_content success_frenchise" >
                    <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="padding-right: 14px; padding-right: 14px; font-size: 25px; font-weight: bolder;">×</span>
                    </button>
                    <div class="">
                        <div class="icon-box" id="icons" style="margin-top: 40px; background-color: rgb(124,252,0);">
                            <label id="img"><i class="fa-solid fa-check" aria-hidden="true"></i></label>
                        </div>
                        <h4 id="heding" class="modal-title w-100" style="padding-top:54px">Success</h4>
                    </div>
                    <div class="modal-body">
                        <h3 class="p-new text-center"><label id="lblMsg_Confirm_Suuceess"></label></h3>

                        <div class="modal-footer">
                            <button type="button" class="btn-final-Error theclos confirm_dash_succes" data-dismiss="modal" style="background-color: rgb(124,252,0);"><b>Ok</b></button>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<!--Body Ends Here-->
<script>

    function forfrenchise() {
        $(this).html('<i class="fa fa-spinner fa-spin"></i> Loading...');
        setTimeout(() => {
            $(this).html('Submit');
        }, 2000);
        var city = $('#TxtCity').val();
        var area = $('#TxtArea').val();
        var frenchise = $('[name="inlineRadioOptions"]:radio:checked').val();
        if (city.trim() == "") {
            $('#Txt_city').text("Please Enter City");
            $('#Txt_city').css("margin-left", "29px");
            $('#TxtCity').focus();
        }
        else if (area.trim() == "") {
            $('#Txt_area').text("Please Enter Area");
            $('#Txt_city').css("margin-left", "29px");
            //$.notify("Please Enter Area ? ", "warn");
            $('[#TxtArea]').focus();

        }
        else if ($('[name="inlineRadioOptions"]:radio:checked').length == 0) {
            $.notify("Please Select Gender any one? ", "warn");
            return false;
        }
        else {

            $.ajax({
                url: "/ApplyForFrenchise/ApplyForFrenchise",
                data: { 'city': city, 'area': area, 'frenchise': frenchise },
                type: 'POST',
                dataType: 'json',
                success: function (response) {
                    
                    setTimeout(() => {
                        $(this).html('Submit');
                    }, 2000);
                    if (response.result == "EmptyResult") {
                        window.location.href = response.url;
                    }
                    else if (response.result == "UnExpectedStatusCode") {
                        window.location.href = response.url;
                    }
                    else if (response.result == "RedirectToException") 
                    {
                        window.location.href = response.url;
                    }
                    else if (response.statuscode == "TXN") {
                        frenchiseclear();
                        $("#Error_modal_Frenchise_Success").trigger("click");
                        $("#lblMsg_Confirm_Suuceess").text(response.message);
                        //$.notify(response.message, { globalPosition: "bottom center", className: "success", showAnimation: 'slideDown', showDuration: 1000 });
                    }

                    else {
                        frenchiseclear();
                        $("#Error_modal_Frenchise").trigger("click");
                        $("#lblMsg_Confirm_SuuceessError").text(response.message);
                        //$.notify(
                        //    response.message,
                        //    { globalPosition: "bottom center", className: "error", showAnimation: 'slideDown', showDuration: 1000 }


                     
                    }
                }
            })
        }


    }

    function frenchiseclear() {

        var city = $('#TxtCity').val("");
        var area = $('#TxtArea').val("");
        var frenchise = $('[name="inlineRadioOptions"]:radio:checked').val("");
    }

</script>


<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
    }
</script>
