@model Project_Redmil_MVC.Models.ResponseModel.PayoutCommisonResponseModel.PayOutCommisionResponseModel

@{
    ViewData["Title"] = "PayoutCommision";
    Layout = "~/Pages/Shared/_LayoutMaster.cshtml";
}
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="~/servicesCSS/prepaidrecharge.css" />
<link rel="stylesheet" href="~/css/businessReport.css" />
<link href="~/ResponsiveCSS/Index.css" rel="stylesheet" />
<link href="~/ResponsiveCSS/ServicesNavigation.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/rechargejs/recharge.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="~/css/navbarheader.css">
<link href="~/ResponsiveCSS/Wallet.css" rel="stylesheet" />
<style>
    .form-control {
        padding-left: 32px;
        height: 65px;
    }

    hr {
        border: none;
        border-top: 1px dotted black;
        color: #fff;
        background-color: #fff;
        height: 1px;
        width: 100%;
    }
</style>
<div class="container-fluid" style="background:white">
    <div class="section background-image heading_page">
        <div class="container ">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <ul>
                        <li><strong class="heading_page_2">Payout Commission</strong></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-12 text-center padding-bottom-30">
            <div class="section-title div_wallet">
                <h1 class="heading_wallet"><span style="color: #2d385e;">You get "Best Assured Payouts" in industry with your "MALL"</span></h1>
            </div>
        </div>
    </div>
    @*<div class="div_get_info">
        <h3 class="tag">You get "Best Assured Payouts" in industry with your "MALL"</h3>
    </div>*@
    <hr />
    <br />
    <div class="section services-area padding-top-bottom-60">
        <div class="container">
            <h1 class="transaction center heading_chooseTransaction_1">Select Category And Subcategory For Payout Commission</h1>
            <div class="row rowaepsChooseTrasaction_BusinessRepo" id="aepsChooseTrasaction">
                <div class="row">
                    <div class="col col-md-6 col-sm-6">
                        <div class="col-md-4 col-sm-4" style="margin-left: 30px;">
                            <h4 class="heading_choose_businessrepo">Select Category</h4>

                        </div>
                        <div class="col-md-4 col-sm-4 select_category_ddl">
                            @if (ViewBag.Payout != null)
                            {
                                @Html.DropDownListFor(m => m.Id, ViewBag.Payout as SelectList, "-- Select Services --", new { @class = "form-control select_category_ddl_1" })
                            }
                        </div>
                    </div>
                    <div class="col col-md-6 col-sm-6">
                        <div class="col-md-4 col-sm-4" style="margin-left: 30px;">
                            <h4 class="heading_choose_businessrepo">Select Sub Category</h4>
                        </div>
                        <div class="col-md-4 col-sm-4 select_category_ddl">
                            @*<select class="form-control select_category_ddl_1" id="SId" name="Id"><option value="0">-- Select SubCategories --</option></select>*@
                            <select class="form-control select_category_ddl_1" id="SId" asp-items="@(new SelectList(string.Empty,"Id","Title" ))">
                                <option>-- Select SubCategories -- </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*<div class="row">
        <div class="col-sm-6">
        <label class="control-label">
        Category Name:
        </label>
        @if (ViewBag.Payout != null)
        {
        @Html.DropDownListFor(m => m.Id, ViewBag.Payout as SelectList, "-- Select Services --", new { @class = "form-control select_category_ddl_1" })

        }
        </div>
        <div class="col-sm-1">
        </div>
        <div class="col-sm-5">
        <label class="control-label">
        Subcategory Name:
        </label>
        <select class="form-control" id="SId" asp-items="@(new SelectList(string.Empty,"Id","Title" ))">
        <option> -- Please Select -- </option>
        </select>
        </div>
        </div>*@

<script>
    const ourItemDiv = document.getElementsByClassName("item");
    const openIcon = document.getElementsByClassName("iconOpen");
    const closeIcon = document.getElementsByClassName("iconClose");
    for (let i = 0; i < ourItemDiv.length; i++) {
        closeIcon[i].style.display = "none";

        ourItemDiv[i].addEventListener("click", () => {
            const result = ourItemDiv[i].classList.toggle("active");

            if (result) {
                closeIcon[i].style.display = "block";
                openIcon[i].style.display = "none";
            } else {
                closeIcon[i].style.display = "none";
                openIcon[i].style.display = "block";
            }
        });
    }
</script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script>
    $(document).ready(function () {

        $("#Id").change(function () {
            debugger;
            var Category = $(this).val();
            $.ajax({
                url: "/PayoutCommision/SubCategoryPayOutCommision",
                data: { 'Category': Category },
                type: 'POST',
                dataType: 'json',
                success: function (response) {
                    if (response.result == "EmptyResult") {
                        window.location.href = response.url;
                    }
                    else if (response.result == "UnExpectedStatusCode") {
                        window.location.href = response.url;
                    }
                    else if (response.result == "RedirectToException") {
                        window.location.href = response.url;
                    }
                    else {
                        $('#SId').html('');
                        var options = '';

                        for (var i = 0; i < response.length; i++) {

                            options += '<option value="' + response[i].id + '">' + response[i].title + '</option>';

                        }
                        $('#SId').append(options);

                    }

                }
            });

        });
    });
</script>

<script>
    $("#SId").change(function () {

        var e = $('#SId').val();
        var f = $('#Id').val();
        $.ajax({
            url: "/PayoutCommision/SubCategoryPayOutCommision",
            data: { 'Category': f, 'SubCategory': e },
            type: 'POST',
            dataType: 'json',
            success: function (response) {
                if (response.result == "EmptyResult") {
                    window.location.href = response.url;
                }
                else if (response.result == "UnExpectedStatusCode") {
                    window.location.href = response.url;
                }
                else if (response.result == "RedirectToException") {
                    window.location.href = response.url;
                }
                else {
                    var ar = response[0].imgLing;
                    window.open(ar);
                    /* $('a[href$="ar"]').attr('target', '_blank');*/
                }


            }

        });

    });

</script>