
.nWhEP .GkeQS ._3OoXW {
    width: 507px;
}
.heading_RedMIl {
    float: right;
    color: red;
    font-weight: 600;
}
.download_button {
    vertical-align: middle;
    padding-top: 10px;
    text-decoration: unset;
}
.tagline_image {
    background-image: linear-gradient(225deg, #003366 0%, #345beb 49%, #5634eb 100%);
    background-size: cover;
}
.partners {
    width: 228px;
}

