.nWhEP .GkeQS ._3OoXW {
    width: 507px;
}

.heading_RedMIl {
    float: right;
    color: red;
    font-weight: 600;
}

.download_button {
    vertical-align: middle;
    padding-top: 10px;
    text-decoration: unset;
}

.tagline_image {
    background-image: linear-gradient(225deg, #003366 0%, #345beb 49%, #5634eb 100%);
    background-size: cover;
}

.partners {
    width: 228px;
}

.passbooktabs {
    overflow: hidden;
    border: 1px solid #ccc;
    color: #f1f1f1;
    background-image: linear-gradient(225deg, #003366 0%, #345beb 49%, #5634eb 100%);
    display: flex;
    margin-top: 10px;
}

    /* Style the buttons inside the tab */
    .passbooktabs button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
    }

        /* Change background color of buttons on hover */
        .passbooktabs button:hover {
            background-color: #ddd;
            color: #313142;
        }

        /* Create an active/current tablink class */
        .passbooktabs button.active {
            /*background-color: #5437b7;*/
        }

    .passbooktabs .tablinks {
        letter-spacing: 2px;
        margin-right: 25px;
        margin-left: 150px;
        /*background-color: #5437b7;*/
    }

.tablinksactive {
    letter-spacing: 2px;
    margin-right: 25px;
    background-color: #5437b7;
    transition: all 0.4s ease;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 20px 12px;
    border: 1px solid #ccc;
    /*width: 1200px;
                                                                                                            border-top: none;*/
}

    .tabcontent .title {
        text-align: center;
        padding-bottom: 80px;
    }

        .tabcontent .title h1 {
            font-weight: 800;
        }

        .tabcontent .title .aval_bal, .cashBal {
            margin-top: 20px;
        }

        .tabcontent .title .aval_bal, .AdvBal {
            margin-top: 15px;
        }

        .tabcontent .title .advAval_bal, .AdvBal {
            margin-top: -33px;
        }

    .tabcontent .item_info {
        display: block;
        margin-top: 50px;
    }

        .tabcontent .item_info button {
            align-items: center;
            background-image: linear-gradient(1deg, #4F58FD, #2d385e 99%);
            background-size: calc(100% + 20px) calc(100% + 20px);
            border-radius: 100px;
            border-width: 0;
            color: #FFFFFF;
            cursor: pointer;
            display: inline-flex;
            font-family: CircularStd,sans-serif;
            font-size: 1.5rem;
            height: auto;
            justify-content: center;
            line-height: 1.5;
            padding: 6px 25px;
            position: relative;
            text-align: center;
            text-decoration: none;
            transition: background-color .2s,background-position .2s;
            user-select: none;
            margin-right: 24px;
            float: none;
            /*margin-top: 40px;*/
            /*margin-left: 60px;*/
            z-index: 1;
        }

    .tabcontent .title .item_info .rewbtn {
        margin-left: 300px;
    }

    /*.tabcontent.item_info.btn2{
                                                                                                                            margin-left:200px;
                                                                                                                        }*/

    .tabcontent hr {
        margin: 93px 0 0 20px;
        padding: 10px;
    }

    .tabcontent h3 {
        text-align: center;
        margin-bottom: 60px;
        font-weight: 700;
    }

.rowaepsChooseTrasaction {
    background: darkgray;
    padding-top: 35px;
    padding-bottom: 35px;
    border-radius: 25px;
}

.btn_Proceed {
    margin-left: 500px;
    font-weight: bold;
    /*margin-top: -60px;*/
}

.inner_radio {
    margin-left: 80px;
}

.btn_Proceed_Center {
    margin-left: 376px;
    font-weight: 900;
    margin-top: -5px;
}

.btn_Proceed_Final {
    margin-left: 100px;
    font-weight: 900;
    margin-top: 50px;
}

.col_Verify {
    margin-top: 60px;
}

.vertical_align {
    border-left: 6px solid #2d385e;
    height: 150px;
    margin-top: 50px;
    margin-left: 140px;
}

.p_Security {
    color: #2d385e;
    font-weight: 900;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}

.p_Verify {
    color: #2d385e;
    font-weight: 800;
    font-size: 15px;
    text-align: center;
}

.p_Verify_Face {
    font-weight: 900;
    text-align: center;
    color: #2d385e;
}

.heading_chooseTransaction {
    font-weight: 800;
    color: #2d385e;
    text-align: center;
    margin-bottom: 50px;
}
/*.p_How_to_work {
    font-weight: 900;
    text-align: center;
    color: #2d385e;
}
.p_Choose_Device {
    font-weight: 900;
    text-align: center;
    color: #2d385e;
}*/
.img_fingurprint {
    margin: 0 0 0 250px;
}


/*<---Slider Start Here---->*/
#slider-text {
    padding-top: 40px;
    display: block;
}

    #slider-text .col-md-6 {
        overflow: hidden;
    }

    #slider-text h2 {
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 400;
        font-size: 30px;
        letter-spacing: 3px;
        margin: 30px auto;
        padding-left: 40px;
    }

        #slider-text h2::after {
            border-top: 2px solid #c7c7c7;
            content: "";
            position: absolute;
            bottom: 35px;
            width: 100%;
        }

#itemslider h4 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin: 10px auto 3px;
}

#itemslider h5 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 12px;
    margin: 3px auto 2px;
}

#itemslider h6 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    ;
    font-size: 10px;
    margin: 2px auto 5px;
}

.badge {
    background: #b20c0c;
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 31px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    border: 2px solid #FFF;
    box-shadow: 0 0 0 1px #b20c0c;
    top: 5px;
    right: 25%;
}

#slider-control img {
    padding-top: 60%;
    margin: 0 auto;
}

.rowaepsChooseTrasaction_BusinessRepo {
    background: #2d385e;
    padding-top: 35px;
    padding-bottom: 35px;
    border-radius: 25px;
    width: 120%;
    margin-left: -95px;
}

.heading_choose_businessrepo {
    font-weight: 700;
    color: white;
}
.select_category_ddl {
    width: 50%;
}
.select_category_ddl_1 {
    font-weight: 600;
}
.div_get_info {
    background: grey;
    padding-top: 5px;
    padding-bottom: 40px;
    margin-top: 450px;
    color: white;
}
.heading_chooseTransaction_1 {
    font-weight: 800;
    font-size: 22px;
    color: #2d385e;
    text-align: center;
    margin-bottom: 50px;
    /*margin-top: -30px;*/
}
.div_SortBy {
    height: 130px;
    background: #f3f3f3;
    padding-top: 25px;
}

/*Media Query Starts for Small Smartphone*/
@media screen and (max-width:339px) and (min-width:279px) {
    .nWhEP .GkeQS ._3OoXW {
        height: 310px;
        width: auto;
        /*background: #002970;*/
        margin-top: -54px;
        margin-left: -30px;
    }

    .heading_RedMIl {
        float: right;
        color: red;
        font-weight: 600;
    }

    .nWhEP .GkeQS ._3OoXW h1 {
        font-size: 25px;
        font-weight: 700;
        line-height: 40px;
    }

    .nWhEP .GkeQS ._3OoXW ._3De77 {
        padding-top: 10px;
        width: 200px;
        margin-bottom: 36px;
        font-size: 15px;
        font-weight: 400;
        line-height: 18px;
    }

    .download_button {
        margin-left: -69px;
        text-align: center;
        padding-left: 12px;
    }

    .header-area .navbar-brand img {
        /*margin-top: -65px;*/
        width: 190px;
    }

    .passbooktabs .tablinks {
        letter-spacing: 2px;
        margin-left: -15px;
        font-size: 8px;
        /* background-color: #5437b7; */
    }

    .heading_chooseTransaction {
        font-weight: bold;
        font-size: 22px;
        color: #2d385e;
        text-align: center;
        margin-bottom: 50px;
    }

    .inner_radio {
        font-weight: 700;
        font-size: 10px;
        text-align: center;
        margin-left: 5px;
        display: inherit;
    }

    .btn_Proceed {
        margin-left: 90px;
        font-size: 12px;
        font-weight: bold;
        margin-top: 1px;
    }

    .button-23 {
        font-size: 10px;
    }

    .heading_Balance {
        font-size: 10px;
    }
    .rowaepsChooseTrasaction_BusinessRepo {
        width: 100%;
        margin-left: -2px;
    }
    .heading_choose_businessrepo {
        font-weight: 700;
        color: white;
        font-size:11px;
    }
    .select_category_ddl {
        margin-left: 130px;
        width: 45%;
        margin-top: -32px;
    }

    .select_category_ddl_1 {
        font-size: 10px;
        height: 25px;
        font-weight: 600;
        padding-left: 10px;
    }
    .div_get_info {
        background: grey;
        padding-top: 5px;
        padding-bottom: 40px;
        margin-top: -18px;
        color: white;
    }
    .heading_chooseTransaction_1 {
        font-weight: 800;
        font-size: 19px;
        color: #2d385e;
        text-align: center;
        margin-bottom: 50px;
        margin-top: -30px;
    }
    .dateLbl{
        font-size:12px;
    }
    .div_SortBy {
        height: 480px;
        background: #f3f3f3;
        padding-top: 25px
    }
    
    /*Services of Index*/

    /*.section-title {
        border-radius: 10px;
        box-shadow: 0 0 20px rgb(0 0 0 / 20%);*/
    /* max-width: 90%; */
    /*padding-top: 2px;
        padding-bottom: 2px;
        text-align: center;
        margin-left: 80px;
    }*/
}

@media screen and (min-width:340px) and (max-width:399px) {
    .nWhEP .GkeQS ._3OoXW {
        height: 310px;
        width: auto;
        /*background: #002970;*/
        margin-top: -54px;
        margin-left: -30px;
    }

    .heading_RedMIl {
        float: right;
        color: red;
        font-weight: 600;
    }

    .nWhEP .GkeQS ._3OoXW h1 {
        font-size: 25px;
        font-weight: 700;
        line-height: 40px;
    }

    .nWhEP .GkeQS ._3OoXW ._3De77 {
        padding-top: 10px;
        width: 300px;
        margin-bottom: 36px;
        font-size: 15px;
        font-weight: 400;
        line-height: 18px;
    }

    .download_button {
        margin-left: -51px;
        text-align: center;
        padding-left: 12px;
    }

    .header-area .navbar-brand img {
        /*margin-top: 1px;*/
        width: 265px;
    }

    .passbooktabs .tablinks {
        letter-spacing: 2px;
        margin-right: 25px;
        margin-left: 2px;
        font-size: 10px;
        /* background-color: #5437b7; */
    }

    .heading_chooseTransaction {
        font-weight: bold;
        font-size: 22px;
        color: #2d385e;
        text-align: center;
        margin-bottom: 50px;
    }

    .inner_radio {
        font-weight: 700;
        font-size: 10px;
        text-align: center;
        margin-left: 5px;
        display: inherit;
    }

    .btn_Proceed {
        margin-left: 110px;
        font-size: 12px;
        font-weight: bold;
        margin-top: 1px;
    }

    .button-23 {
        font-size: 10px;
    }

    .heading_Balance {
        font-size: 10px;
    }
    .rowaepsChooseTrasaction_BusinessRepo {
        width: 100%;
        margin-left: -2px;
    }
    .heading_choose_businessrepo {
        font-weight: 700;
        color: white;
        font-size: 12px;
        margin-left: -10px;
    }
    .select_category_ddl {
        margin-left: 130px;
        width: 45%;
        margin-top: -32px;
    }
    .select_category_ddl_1 {
        font-size: 10px;
        height: 25px;
        font-weight: 600;
        padding-left: 10px;
        margin-left: 25px;
    }
    .div_get_info {
        background: grey;
        padding-top: 5px;
        padding-bottom: 40px;
        margin-top: 1px;
        color: white;
    }
    .heading_chooseTransaction_1 {
        font-weight: 800;
        font-size: 19px;
        color: #2d385e;
        text-align: center;
        margin-bottom: 50px;
        margin-top: -30px;
    }
    .dateLbl {
        font-size: 12px;
    }
    .div_SortBy {
        height: 300px;
        background: #f3f3f3;
        padding-top: 25px;
        height:480px;
    }
}

@media screen and (max-width:550px) and (min-width:400px) {
    .nWhEP .GkeQS ._3OoXW {
        height: 310px;
        width: auto;
        /*background: #002970;*/
        margin-top: -54px;
        margin-left: -30px;
    }

    .heading_RedMIl {
        float: right;
        color: red;
        font-weight: 600;
    }

    .nWhEP .GkeQS ._3OoXW h1 {
        font-size: 25px;
        font-weight: 700;
        line-height: 40px;
    }

    .nWhEP .GkeQS ._3OoXW ._3De77 {
        padding-top: 10px;
        width: 335px;
        margin-bottom: 36px;
        font-size: 15px;
        font-weight: 400;
        line-height: 18px;
    }

    .download_button {
        /*margin-left: -51px;*/
        text-align: center;
        padding-left: 12px;
    }

    .header-area .navbar-brand img {
        /*margin-top: 1px;*/
        width: 265px;
    }

    .passbooktabs .tablinks {
        letter-spacing: 2px;
        margin-right: 25px;
        margin-left: 2px;
        font-size: 13px;
        /* background-color: #5437b7; */
    }

    .heading_chooseTransaction {
        font-weight: bold;
        font-size: 25px;
        color: #2d385e;
        text-align: center;
        margin-bottom: 50px;
    }

    .inner_radio {
        font-weight: 700;
        font-size: 12px;
        text-align: center;
        margin-left: 5px;
        display: inherit;
    }

    .btn_Proceed {
        margin-left: 150px;
        margin-top: 1px;
    }
    .rowaepsChooseTrasaction_BusinessRepo {
        width: 100%;
        margin-left: -2px;
    }
    .heading_choose_businessrepo {
        font-weight: 700;
        color: white;
        font-size: 13px;
    }
    .select_category_ddl {
        margin-left: 130px;
        width: 45%;
        margin-top: -32px;
    }

    .select_category_ddl_1 {
        font-size: 10px;
        height: 25px;
        font-weight: 600;
        padding-left: 10px;
        margin-left: 50px;
    }
    .div_get_info {
        background: grey;
        padding-top: 5px;
        padding-bottom: 40px;
        margin-top: 10px;
        color: white;
    }
    .heading_chooseTransaction_1 {
        font-weight: 800;
        font-size: 20px;
        color: #2d385e;
        text-align: center;
        margin-bottom: 50px;
        margin-top: -30px;
    }
    .dateLbl {
        font-size: 13px;
    }
    .div_SortBy {
        height: 300px;
        background: #f3f3f3;
        padding-top: 25px;
        height: 500px;
    }
}

@media screen and (max-width:768px) and (min-width:551px) {
    .passbooktabs .tablinks {
        letter-spacing: 2px;
        margin-right: 25px;
        margin-left: 2px;
        font-size: 16px;
        margin-left: 50px;
        /* background-color: #5437b7; */
    }

    .heading_chooseTransaction {
        font-weight: bold;
        font-size: 27px;
        color: #2d385e;
        text-align: center;
        margin-bottom: 50px;
    }

    .inner_radio {
        font-weight: 700;
        font-size: 13px;
        text-align: center;
        margin-left: 5px;
        display: inherit;
    }

    .btn_Proceed {
        margin-left: 215px;
        margin-top: 1px;
    }
    .rowaepsChooseTrasaction_BusinessRepo {
        width: 100%;
        margin-left: -2px;
    }
    .heading_choose_businessrepo {
        font-weight: 700;
        color: white;
        font-size: 13px;
    }

    .select_category_ddl {
        margin-left: 130px;
        width: 45%;
        margin-top: -32px;
    }

    .select_category_ddl_1 {
        font-size: 10px;
        height: 25px;
        font-weight: 600;
        padding-left: 50px;
        margin-left: 70px;
    }
    .div_get_info {
        background: grey;
        padding-top: 5px;
        padding-bottom: 40px;
        margin-top: 30px;
        color: white;
    }
    .heading_chooseTransaction_1 {
        font-weight: 800;
        font-size: 21px;
        color: #2d385e;
        text-align: center;
        margin-bottom: 50px;
        margin-top: -30px;
    }
    .dateLbl {
        font-size: 14px;
    }
    .div_SortBy {
        height: 300px;
        background: #f3f3f3;
        padding-top: 25px;
        height: 500px;
    }
}

@media screen and (max-width:1023px) and (min-width:769px) {
    .heading_chooseTransaction {
        font-weight: bold;
        font-size: 36px;
        color: #2d385e;
        text-align: center;
        margin-bottom: 50px;
    }

    .inner_radio {
        font-weight: 700;
        font-size: 14px;
        text-align: center;
        margin-left: 5px;
        display: inherit;
    }

    .btn_Proceed {
        margin-left: 316px;
        font-weight: bold;
        margin-top: 8px;
    }

    .passbooktabs .tablinks {
        letter-spacing: 2px;
        margin-right: 25px;
        margin-left: 2px;
        font-size: 16px;
        margin-left: 50px;
        /* background-color: #5437b7; */
    }

    .rowaepsChooseTrasaction_BusinessRepo {
        width: 100%;
        margin-left: -2px;
    }

    .heading_choose_businessrepo {
        font-weight: 700;
        color: white;
        font-size: 13px;
    }

    .select_category_ddl {
        margin-left: 130px;
        width: 45%;
        margin-top: -32px;
    }

    .select_category_ddl_1 {
        font-size: 10px;
        height: 25px;
        font-weight: 600;
        padding-left: 50px;
        margin-left: 75px;
    }
    .div_get_info {
        background: grey;
        padding-top: 5px;
        padding-bottom: 40px;
        margin-top: 50px;
        color: white;
    }
    .heading_chooseTransaction_1 {
        font-weight: 800;
        font-size: 22px;
        color: #2d385e;
        text-align: center;
        margin-bottom: 50px;
        margin-top: -30px;
    }
    .dateLbl {
        font-size: 16px;
    }
    .div_SortBy {
        height: 300px;
        background: #f3f3f3;
        padding-top: 25px;
        height: 520px;
    }
}

@media screen and (min-width:769px) and (max-width:885px) {
    .passbooktabs .tablinks {
        letter-spacing: 2px;
        margin-right: 25px;
        margin-left: 2px;
        font-size: 16px;
        margin-left: 50px;
        /* background-color: #5437b7; */
    }
    .rowaepsChooseTrasaction_BusinessRepo {
        width: 100%;
        margin-left: -2px;
    }

    .heading_choose_businessrepo {
        font-weight: 700;
        color: white;
        font-size: 13px;
    }

    .select_category_ddl {
        margin-left: 130px;
        width: 45%;
        margin-top: -32px;
    }

    .select_category_ddl_1 {
        font-size: 10px;
        height: 25px;
        font-weight: 600;
        padding-left: 10px;
        margin-left: 25px;
    }
   /* .div_get_info {
        background: grey;
        padding-top: 5px;
        padding-bottom: 40px;
        margin-top: 250px;
        color: white;
    }*/
}

@media screen and (min-width:886px) and (max-width:1023px) {
    
    .passbooktabs .tablinks {
        letter-spacing: 2px;
        margin-right: 25px;
        margin-left: 2px;
        font-size: 16px;
        margin-left: 50px;
        /* background-color: #5437b7; */
    }
    .rowaepsChooseTrasaction_BusinessRepo {
        width: 100%;
        margin-left: -2px;
    }

    .heading_choose_businessrepo {
        font-weight: 700;
        color: white;
        font-size: 13px;
    }

    .select_category_ddl {
        margin-left: 130px;
        width: 45%;
        margin-top: -32px;
    }

    .select_category_ddl_1 {
        font-size: 10px;
        height: 25px;
        font-weight: 600;
        padding-left: 10px;
        margin-left: 25px;
    }
   
}
@media screen and (min-width:1024px) and (max-width:1279px) {
    .passbooktabs .tablinks {
        letter-spacing: 2px;
        margin-right: 25px;
        margin-left: 2px;
        font-size: 16px;
        margin-left: 50px;
        /* background-color: #5437b7; */
    }
    .rowaepsChooseTrasaction_BusinessRepo {
        width: 100%;
        margin-left: -2px;
    }

    .heading_choose_businessrepo {
        font-weight: 700;
        color: white;
        font-size: 13px;
    }

    .select_category_ddl {
        margin-left: 130px;
        width: 45%;
        margin-top: -32px;
    }

    .select_category_ddl_1 {
        font-size: 10px;
        height: 25px;
        font-weight: 600;
        padding-left: 10px;
        margin-left: 25px;
    }
    .div_get_info {
        background: grey;
        padding-top: 5px;
        padding-bottom: 40px;
        margin-top: 250px;
        color: white;
    }
}

@media screen and (min-width:1024px) and (max-width:1279px) {
    .btn_Proceed {
        margin-left: 500px;
        font-weight: bold;
        margin-top: -4px;
    }
    .heading_chooseTransaction_1 {
        font-weight: 800;
        font-size: 22px;
        color: #2d385e;
        text-align: center;
        margin-bottom: 50px;
        margin-top: -30px;
    }
    .dateLbl {
        font-size: 18px;
    }
}

@media screen and (min-width:1279px) {
}


@media screen and (max-width: 992px) {
    #slider-control img {
        padding-top: 70px;
        margin: 0 auto;
    }
}

.carousel-showmanymoveone .carousel-control {
    width: 4%;
    background-image: none;
}

    .carousel-showmanymoveone .carousel-control.left {
        margin-left: 5px;
    }

    .carousel-showmanymoveone .carousel-control.right {
        margin-right: 5px;
    }

.carousel-showmanymoveone .cloneditem-1,
.carousel-showmanymoveone .cloneditem-2,
.carousel-showmanymoveone .cloneditem-3,
.carousel-showmanymoveone .cloneditem-4,
.carousel-showmanymoveone .cloneditem-5 {
    display: none;
}

@media all and (min-width: 768px) {

    .carousel-showmanymoveone .carousel-inner > .active.left,
    .carousel-showmanymoveone .carousel-inner > .prev {
        left: -50%;
    }

    .carousel-showmanymoveone .carousel-inner > .active.right,
    .carousel-showmanymoveone .carousel-inner > .next {
        left: 50%;
    }

    .carousel-showmanymoveone .carousel-inner > .left,
    .carousel-showmanymoveone .carousel-inner > .prev.right,
    .carousel-showmanymoveone .carousel-inner > .active {
        left: 0;
    }

    .carousel-showmanymoveone .carousel-inner .cloneditem-1 {
        display: block;
    }
}

@media all and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d) {

    .carousel-showmanymoveone .carousel-inner > .item.active.right,
    .carousel-showmanymoveone .carousel-inner > .item.next {
        -webkit-transform: translate3d(50%, 0, 0);
        transform: translate3d(50%, 0, 0);
        left: 0;
    }

    .carousel-showmanymoveone .carousel-inner > .item.active.left,
    .carousel-showmanymoveone .carousel-inner > .item.prev {
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
        left: 0;
    }

        .carousel-showmanymoveone .carousel-inner > .item.left,
        .carousel-showmanymoveone .carousel-inner > .item.prev.right,
        .carousel-showmanymoveone .carousel-inner > .item.active {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
            left: 0;
        }
}

@media all and (min-width: 992px) {

    .carousel-showmanymoveone .carousel-inner > .active.left,
    .carousel-showmanymoveone .carousel-inner > .prev {
        left: -16.666%;
    }

    .carousel-showmanymoveone .carousel-inner > .active.right,
    .carousel-showmanymoveone .carousel-inner > .next {
        left: 16.666%;
    }

    .carousel-showmanymoveone .carousel-inner > .left,
    .carousel-showmanymoveone .carousel-inner > .prev.right,
    .carousel-showmanymoveone .carousel-inner > .active {
        left: 0;
    }

    .carousel-showmanymoveone .carousel-inner .cloneditem-2,
    .carousel-showmanymoveone .carousel-inner .cloneditem-3,
    .carousel-showmanymoveone .carousel-inner .cloneditem-4,
    .carousel-showmanymoveone .carousel-inner .cloneditem-5,
    .carousel-showmanymoveone .carousel-inner .cloneditem-6 {
        display: block;
    }
}

@media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {

    .carousel-showmanymoveone .carousel-inner > .item.active.right,
    .carousel-showmanymoveone .carousel-inner > .item.next {
        -webkit-transform: translate3d(16.666%, 0, 0);
        transform: translate3d(16.666%, 0, 0);
        left: 0;
    }

    .carousel-showmanymoveone .carousel-inner > .item.active.left,
    .carousel-showmanymoveone .carousel-inner > .item.prev {
        -webkit-transform: translate3d(-16.666%, 0, 0);
        transform: translate3d(-16.666%, 0, 0);
        left: 0;
    }

        .carousel-showmanymoveone .carousel-inner > .item.left,
        .carousel-showmanymoveone .carousel-inner > .item.prev.right,
        .carousel-showmanymoveone .carousel-inner > .item.active {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
            left: 0;
        }
}
