
.ts {
    margin-left: 226px;
    font-size: 26px;
}

.btn-final {
    display: block;
    margin-left: 208px;
    border-bottom: 42px;
    width: 179px;
    border-radius: 41px;
    height: 41px;
    font-size: 20px;
    color: white;
    border-color: white;
    border-right: white;
    border-left: white;
    border-top: white;
}


.btnlft {
    margin-left: 283px;
    margin-top: -30px;
    color: cornflowerblue;
    font-size: 20px;
    cursor: pointer;
}


.tp {
    margin-left: 40px;
}

.modalss {
    margin-left: 104px;
    margin-right: 111px;
    padding: 7px;
    margin-top: 114px;
}

.mt {
    margin-top: 68px;
    margin-left: -69px;
}

.rs {
    margin-left: 28px;
}

.modal-backdrop.innn {
    opacity: 0 !important;
}

.img-wallet-select {
    height: 150px;
    width: 200px;
}

.first-wallet {
    font-size: 20px;
    font-weight: 700;
}

.final-modal-popup {
    width: 650px;
}

.err {
    margin-top: -181px;
    margin-left: 88px;
}

.sucss {
    margin-top: -181px;
    margin-left: 88px;
}

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #3EB2FD;
}

.modal-confirm .icon-box {
    color: #fff;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -40px;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    z-index: 9;
    /* background: #82ce34; */
    padding: 15px;
    text-align: center;
    box-shadow: 0px 2px 2px rgb(0 0 0 / 10%);
}

.breadcumb-area {
    position: relative;
    padding: 221px 0;
    background-size: cover;
    background-position: center center;
    position: relative;
    background-position: 75% 10%;
}

.Feedack {
    margin-top: -18px;
}



.img1 {
    display: flex;
}

    .img1 img {
        height: 60px;
        width: 60px;
    }


.passbooktabs {
    overflow: hidden;
    border: 1px solid #ccc;
    color: #f1f1f1;
    background: #2d385e;
    display: flex;
    margin-top: 100px;
}

    /* Style the buttons inside the tab */
    .passbooktabs button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
    }

        /* Change background color of buttons on hover */
        .passbooktabs button:hover {
            background-color: #ddd;
            color: #313142;
        }

        /* Create an active/current tablink class */
        .passbooktabs button.active {
            /*background-color: #5437b7;*/
        }

    .passbooktabs .tablinks {
        letter-spacing: 2px;
        margin-right: 25px;
        /*background-color: #5437b7;*/
    }

.tablinksactive {
    letter-spacing: 2px;
    margin-right: 25px;
    background-color: #5437b7;
    transition: all 0.4s ease;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 20px 12px;
    border: 1px solid #ccc;
    /*width: 1200px;
                                                            border-top: none;*/
}

    .tabcontent .title {
        text-align: center;
        padding-bottom: 80px;
    }

        .tabcontent .title h1 {
            font-weight: 800;
        }

        .tabcontent .title .aval_bal, .cashBal {
            margin-top: 20px;
        }

        .tabcontent .title .aval_bal, .AdvBal {
            margin-top: -30px;
        }

        .tabcontent .title .advAval_bal, .AdvBal {
            margin-top: -33px;
        }

    .tabcontent .item_info {
        display: block;
        margin-top: 50px;
    }

        .tabcontent .item_info button {
            align-items: center;
            background-image: linear-gradient(1deg, #4F58FD, #2d385e 99%);
            background-size: calc(100% + 20px) calc(100% + 20px);
            border-radius: 100px;
            border-width: 0;
            color: #FFFFFF;
            cursor: pointer;
            display: inline-flex;
            font-family: CircularStd,sans-serif;
            /*font-size: 1.5rem;*/
            font-size: 20px;
            height: auto;
            justify-content: center;
            line-height: 1.5;
            padding: 6px 25px;
            position: relative;
            text-align: center;
            text-decoration: none;
            transition: background-color .2s,background-position .2s;
            user-select: none;
            margin-right: 24px;
            float: none;
            /*margin-top: 40px;*/
            /*margin-left: 60px;*/
            z-index: 1;
        }

    .tabcontent .title .item_info .rewbtn {
        margin-left: 300px;
    }

    /*.tabcontent.item_info.btn2{
                                                                            margin-left:200px;
                                                                        }*/

    .tabcontent hr {
        margin: 93px 0 0 20px;
        padding: 10px;
    }

    .tabcontent h3 {
        text-align: center;
        margin-bottom: 60px;
        font-weight: 700;
    }

#example_wrapper {
    margin-left: 20px;
    margin-right: 20px;
}

#example1_wrapper {
    margin-left: 20px;
    margin-right: 20px;
}

#example_paginate {
    float: right;
    margin-right: -90px;
}

#example1_paginate {
    float: right;
    margin-right: -40px;
}

div.wrapper {
    width: 500px;
    height: 500px;
    overflow: auto;
}

.ButtonDetail {
    font-weight: 800;
    /* background: #3EB2FD; */
    /* border: 1px solid #3EB2FD; */
    /* border: 1px solid #fff; */
    padding: 5px 10px;
    color: blue;
    font-size: 13px;
    text-align: center;
    /* width: 300px;*/
    border-radius: 5px;
    /*margin-top: 20px;*/
    font-family: 'Poppins', sans-serif;
}


.label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 7px;
    font-weight: 700;
    padding: -15px;
    font-size: 21px;
    margin-left: 82px;
}

.tabcontents {
    display: none;
    /* padding: 6px 12px;
                                    border: 1px solid #ccc;
                                    border-top: none;*/
    font-size: 15px;
}

.active::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    /* border-top: 3px solid #1864ab; */
    animation: borderline 1s linear forwards;
}


.tabs {
    overflow: hidden;
    /*  border: 1px solid #ccc;
                                    background-color: #f1f1f1;*/
}

    /* Style the buttons inside the tab */
    .tabs button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
    }

        /* Change background color of buttons on hover */
        .tabs button:hover {
            background-color: #ddd;
        }

        /* Create an active/current tablink class */
        .tabs button.active {
            background-color: #ccc;
        }

.cross {
    background-color: #222;
    width: 28px;
    height: 28px;
    border-radius: 14px;
    margin: 7px;
    border: 3px solid;
    border-color: var(--white);
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAgMAAABiJsVCAAAADFBMVEUAAAD///////////84wDuoAAAAA3RSTlMAgGJiSVzhAAAAOElEQVQI12PQYGBqYNjLwP6AYb+D/AMG+Qv1DgzsX/8yMDD+/8LAwFB/AUxAuGAJsBKwYrA2sAEADzMWbZHdzhcAAAAASUVORK5CYII=) !important;
    background-repeat: no-repeat;
    background-position: 50%;
    white-space: nowrap;
    box-sizing: border-box;
    top: -24px;
    right: -33px;
    z-index: 9;
    cursor: pointer;
    position: fixed;
}

.progress {
    overflow: hidden;
    height: 24px;
    width: 342px;
    background-color: #ccc;
    border-radius: 17px;
    -webkit-box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
    box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
    margin-bottom: 138px;
    margin-top: 28px;
}

.progress-bar {
    width: 0;
    height: 100%;
    color: #fff;
    text-align: center;
    background-color: #1530df;
}

.progress-striped .progress-bar {
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-size: 40px 40px;
}

.progress.active .progress-bar {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
    -moz-animation: progress-bar-stripes 2s linear infinite;
}

.Mall {
    color: #1a61d0;
    margin-left: 123px;
    font-size: 24px;
}

.available_balance {
    margin-left: 88rem;
    font-size: 20px;
}

.bold_balance {
    float: right;
    color: green
}

.heading_details_modal {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
}

.modal_download_report {
    width: 40%;
    margin-top: 161px;
}

.modal_download_report_1 {
    height: 303px;
    color: black;
}

.img_detailLogo_download {
    height: 63px;
    margin-left: 288px;
}
.heading_download_report {
    margin-top: -100px;
    padding: 34px;
}
.input_from_date {
    width: 82%;
}
.div_footer {
    margin-top: -40px;
}
.div_new_button {
    margin-left: 773px;
}


@media screen and (max-width:339px) and (min-width:280px) {
    .tabcontent .title .aval_bal, .AdvBal {
        margin-top: -207px;
        font-size: 14px;
        text-align: center;
        margin-left: 0px;
    }

    .tabcontent .title h1 {
        font-weight: 800;
        font-size: 20px;
    }

    .tabcontent h3 {
        font-weight: 700;
        font-size: 18px;
    }

    .advance_bal {
        margin-top: 20px;
    }

    .tabcontent .item_info button {
        font-size: 10px;
    }
    .div_new_button {
        margin-left: 90px;
    }
}



@media screen and (max-width:399px) and (min-width:340px) {
    .tabcontent .title .aval_bal, .AdvBal {
        margin-top: -210px;
        font-size: 14px;
        text-align: center;
        margin-left: 0px;
    }

    .tabcontent .title h1 {
        font-weight: 800;
        font-size: 21px;
    }

    .tabcontent h3 {
        font-weight: 700;
        font-size: 18px;
    }

    .tabcontent .item_info button {
        font-size: 11px;
    }
    .div_new_button {
        margin-left: 110px;
    }
}

@media screen and (max-width:500px) and (min-width:400px) {
    .tabcontent .title .aval_bal, .AdvBal {
        margin-top: -210px;
        font-size: 14px;
        text-align: center;
        margin-left: 0px;
    }

    .tabcontent .title h1 {
        font-weight: 800;
        font-size: 21px;
    }

    .tabcontent h3 {
        font-weight: 700;
        font-size: 18px;
    }

    .tabcontent .item_info button {
        font-size: 12px;
    }
    .div_new_button {
        margin-left: 140px;
    }
}

@media screen and (max-width:518px) and (min-width:501px) {
    .tabcontent .title .aval_bal, .AdvBal {
        margin-top: -210px;
        font-size: 14px;
        text-align: center;
        margin-left: 0px;
    }

    .tabcontent .title h1 {
        font-weight: 800;
        font-size: 21px;
    }

    .tabcontent h3 {
        font-weight: 700;
        font-size: 18px;
    }

    .tabcontent .item_info button {
        font-size: 12px;
    }
    .div_new_button {
        margin-left: 140px;
    }
}

@media screen and (max-width:550px) and (min-width:519px) {

    .tabcontent .title .aval_bal, .AdvBal {
        margin-top: -150px;
        font-size: 15px;
        text-align: center;
        margin-left: 0px;
    }

    .tabcontent .title h1 {
        font-weight: 800;
        font-size: 22px;
    }

    .tabcontent h3 {
        font-weight: 700;
        font-size: 18px;
    }

    .tabcontent .item_info button {
        font-size: 12px;
    }
    .div_new_button {
        margin-left: 155px;
    }
}

@media screen and (max-width:768px) and (min-width:551px) {
    .tabcontent .title .aval_bal, .AdvBal {
        margin-top: 5px;
        font-size: 18px;
        text-align: center;
        margin-left: 0px;
    }

    .tabcontent .title h1 {
        font-weight: 800;
        font-size: 23px;
    }

    .tabcontent h3 {
        font-weight: 700;
        font-size: 18px;
    }

    .tabcontent .item_info button {
        font-size: 14px;
    }
    .div_new_button {
        margin-left: 205px;
    }
}


@media screen and (max-width:880px) and (min-width:769px) {
    .tabcontent .title .aval_bal, .AdvBal {
        margin-top: 5px;
        font-size: 18px;
        text-align: center;
        margin-left: 0px;
    }

    .tabcontent .title h1 {
        font-weight: 800;
        font-size: 23px;
    }

    .tabcontent h3 {
        font-weight: 700;
        font-size: 18px;
    }

    .tabcontent .item_info button {
        font-size: 14px;
    }
    .div_new_button {
        margin-left: 255px;
    }
}

@media screen and (max-width:1023px) and (min-width:881px) {
    .tabcontent .title .aval_bal, .AdvBal {
        margin-top: 5px;
        font-size: 20px;
        text-align: center;
        margin-left: 0px;
    }

    .tabcontent .title h1 {
        font-weight: 800;
        font-size: 25px;
    }

    .tabcontent h3 {
        font-weight: 700;
        font-size: 20px;
    }

    .tabcontent .item_info button {
        font-size: 16px;
    }
    .div_new_button {
        margin-left: 305px;
    }
}

@media screen and (max-width:1150px) and (min-width:1024px) {
    .tabcontent .title .aval_bal, .AdvBal {
        margin-top: 5px;
        font-size: 21px;
        text-align: center;
        margin-left: 0px;
    }

    .tabcontent .title h1 {
        font-weight: 800;
        font-size: 26px;
    }

    .tabcontent h3 {
        font-weight: 700;
        font-size: 21px;
    }

    .tabcontent .item_info button {
        font-size: 17px;
    }
    .div_new_button {
        margin-left: 335px;
    }
}

@media screen and (max-width:1279px) and (min-width:1151px) {
    .tabcontent .title .aval_bal, .AdvBal {
        margin-top: 5px;
        font-size: 22px;
        text-align: center;
        margin-left: 0px;
    }

    .tabcontent .title h1 {
        font-weight: 800;
        font-size: 27px;
    }

    .tabcontent h3 {
        font-weight: 700;
        font-size: 22px;
    }

    .tabcontent .item_info button {
        font-size: 18px;
    }
    .div_new_button {
        margin-left: 435px;
    }
}
 * {
        box-sizing: border-box;
    }

    #regForm {
        background-color: #ffffff;
        margin: 100px auto;
        font-family: Raleway;
        padding: 40px;
        width: 70%;
        min-width: 300px;
    }

    h1 {
        text-align: center;
    }

    input {
        padding: 10px;
        width: 100%;
        font-size: 17px;
        font-family: Raleway;
        border: 1px solid #aaaaaa;
    }

        /* Mark input boxes that gets an error on validation: */
        input.invalid {
            background-color: #ffdddd;
        }

    /* Hide all steps by default: */
    .tab {
        display: none;
    }

    button {
        background-color: #04AA6D;
        color: #ffffff;
        border: none;
        padding: 10px 20px;
        font-size: 17px;
        font-family: Raleway;
        cursor: pointer;
    }

        button:hover {
            opacity: 0.8;
        }

    #prevBtn {
        background-color: #bbbbbb;
    }

    /* Make circles that indicate the steps of the form: */
    .step {
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbbbbb;
        border: none;
        border-radius: 50%;
        display: inline-block;
        opacity: 0.5;
    }

        .step.active {
            opacity: 1;
        }

        /* Mark the steps that are finished and valid: */
        .step.finish {
            background-color: #04AA6D;
        }
