.item {
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 30px;
    align-items: center;
    padding: 62px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: -74px
}

.font_heading {
    font-size: 26px;
}

@media screen and (min-width:280px) and (max-width:340px) {
    .item {
        gap: 4px;
        margin-top: 28px;
        width: 220px;
        margin-left: -30px;
        height: 90px;
        padding-top: 7px;
    }

    .font_heading {
        font-size: 14px;
    }

    .reportHeadName {
        text-align: center;
        font-weight: 800;
        font-size: 20px;
    }
}

@media screen and (min-width:341px) and (max-width:400px) {

    .font_heading {
        font-size: 14px;
    }

    .reportHeadName {
        text-align: center;
        font-weight: 800;
        font-size: 20px;
    }
    .item {
        gap: 4px;
        margin-top: 28px;
        width: 220px;
        margin-left: -30px;
        height: 90px;
        padding-top: 7px;
    }

}

@media screen and (min-width:401px) and (max-width:500px) {

    .font_heading {
        font-size: 14px;
    }

    .reportHeadName {
        text-align: center;
        font-weight: 800;
        font-size: 20px;
    }
    .item {
        gap: 4px;
        margin-top: 37px;
        width: 293px;
        margin-left: -30px;
        height: 97px;
        padding-top: 7px;
    }

}

@media screen and (min-width:501px) and (max-width:650px) {
    .item {
        gap: 4px;
        margin-top: 28px;
        width: 315px;
        margin-left: -30px;
        height: 95px;
        padding-top: 15px;
    }

    .font_heading {
        font-size: 14px;
    }

    .reportHeadName {
        text-align: center;
        font-weight: 800;
        font-size: 20px;
    }
}

@media screen and (min-width:651px) and (max-width:768px) {
    .item {
        gap: 4px;
        margin-top: 28px;
        width: 399px;
        margin-left: -30px;
        height: 90px;
        padding-top: 7px;
    }

    .font_heading {
        font-size: 18px;
        font-weight:700;
    }

    .reportHeadName {
        text-align: center;
        font-weight: 800;
        font-size: 20px;
    }
}

@media screen and (min-width:769px) and (max-width:885px) {
    .item {
        gap: 4px;
        margin-top: 28px;
        width: 500px;
        margin-left: -30px;
        height: 111px;
        padding-top: 24px;
    }
    .font_heading {
        font-size: 18px;
        font-weight: 700;
    }
}

@media screen and (min-width:886px) and (max-width:1000px) {
    .item {
        gap: 4px;
        margin-top: 28px;
        width: 600px;
        margin-left: -30px;
        height: 111px;
        padding-top: 24px;
    }
    .font_heading {
        font-size: 20px;
        font-weight: 700;
    }
}

@media screen and (min-width:1001px) and (max-width:1280px){
    .item {
        gap: 4px;
        margin-top: 28px;
        width: 666px;
        margin-left: -30px;
        height: 90px;
        padding-top: 7px;
    }
    .font_heading {
        font-size: 22px;
        font-weight: 700;
    }
}
