.section_title {
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(0 0 0 / 20%);
    /*max-width: %;*/
    padding-top: 2px;
    padding-bottom: 2px;
}

.heading_services {
    padding: 10px;
    font-weight: 700;
    color: #2d385e;
    background:white;
}

.row_aepsChooseTrasaction {
    margin-left: 96px;
    margin-top: 25px;
}

.row_cashWithdrawal {
    width: 350px;
    cursor: pointer;
    padding-right: 20px;
    margin-top: 20px;
}

.radio1_center {
    text-align: center;
}

.wallet_box_border {
    border: 5px solid #2d385e;
}

.button-23:hover {
    color: white;
}

.wallet-box .bg-wt-round {
    background: #fff;
    border-radius: 30px;
    padding: 10px 0px;
}

.wallet_breadcumb-area {
    position: relative;
    padding: 140px 0;
    background-size: cover;
    background-position: center center;
    position: relative;
    background-position: 75% 10%;
}

    .wallet_breadcumb-area:before {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        content: "";
        top: 0;
        z-index: 0;
    }

    .wallet_breadcumb-area ul {
        text-align: center;
    }

        .wallet_breadcumb-area ul li {
            display: block;
            font-weight: 500;
            font-size: 16px;
            color: #fff;
        }

            .wallet_breadcumb-area ul li:first-child {
                font-size: 50px;
                font-weight: 700;
                line-height: 5rem;
                color: #fff;
            }

            .wallet_breadcumb-area ul li a {
                color: #ffffff;
            }
/*Media Query Starts for Small Smartphone*/
@media screen and (max-width:339px) and (min-width:279px) {
    .row_cashWithdrawal {
        width: 225px;
        margin-left: -70px;
    }
    .heading_services {
        font-size: 16px;
        font-weight: 800;
    }
}
@media screen and (max-width:380px) and (min-width:340px) {
    .row_cashWithdrawal {
        width: 255px;
        margin-left: -60px;
    }

    .heading_services {
        font-size: 17px;
        font-weight: 800;
    }
}
@media screen and (max-width:450px) and (min-width:381px) {
    .row_cashWithdrawal {
        width: 285px;
        margin-left: -40px;
    }

    .heading_services {
        font-size: 18px;
        font-weight: 800;
    }
}
@media screen and (max-width:550px) and (min-width:451px) {
    .heading_services {
        font-size: 19px;
        font-weight: 800;
    }
}
@media screen and (max-width:768px) and (min-width:551px) {
    .heading_services {
        font-size: 20px;
        font-weight: 800;
    }
}
@media screen and (max-width:885px) and (min-width:769px) {
    .heading_services {
        font-size: 21px;
        font-weight: 800;
    }
}
@media screen and (max-width:950px) and (min-width:886px) {
    .heading_services {
        font-size: 22px;
        font-weight: 800;
    }
}
@media screen and (max-width:1100px) and (min-width:951px) {
    .heading_services {
        font-size: 23px;
        font-weight: 800;
    }
}
@media screen and (max-width:1279px) and (min-width:1101px) {
    .heading_services {
        font-size: 24px;
        font-weight: 800;
    }
}