@model IEnumerable<Project_Redmil_MVC.Models.ResponseModel.GetBalanceResponseModel>
@{
    ViewData["Title"] = "DMT 2.0 - Direct Money Transfer";
    Layout = "~/Pages/Shared/_LayoutMaster.cshtml";
}
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/rechargejs/recharge.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<srcipt src="jquery.redirect.js"></srcipt>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="~/css/navbarheader.css">
<link href="~/ResponsiveCSS/Index.css" rel="stylesheet" />
<link rel="stylesheet" href="~/servicesCSS/prepaidrecharge.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/businessReport.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/dataTables.bootstrap4.min.css" asp-append-version="true" />
<script src="/lib/jquery/dist/jquery.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link href="~/ResponsiveCSS/jQueryTable.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/rowreorder/1.3.2/css/rowReorder.dataTables.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.4.0/css/responsive.dataTables.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/rowreorder/1.3.2/js/dataTables.rowReorder.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.4.0/js/dataTables.responsive.min.js"></script>
<link href="~/ResponsiveCSS/ServicesNavigation.css" rel="stylesheet" />
<br />
<div class="container-fluid" style="background:#ebebeb">
    <div class="first-header">
        <div class="section background-image heading_page">
            <div class="container ">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <ul>
                            <li><strong class="heading_page_2">DMT 2.0</strong></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="container" style="background-color:white;">
        <div class="row formedia">
            <div class="col-md-3 col-lg-3 col-sm-3">
                <img src="~/css/Img_DMT2/Img_Cash.jpeg" class="img-width" style="height:100px;width:120px;">
            </div>
            <div class=" col-sm-3 col-md-3 col-lg-3 col-sm-3">
                <p class="aval_bal aval_bal_font"><b>Cash Wallet</b></p>
            </div>
            <div class=" col-sm-3 col-md-3 col-lg-3 col-sm-3">
                <p class="aval_bal aval_bal_font"><b>Available Balance: <label id="lblBalance">₹ @Model.FirstOrDefault().MainBal</label></b></p>
            </div>
            <div class=" col-sm-3 col-md-3 col-lg-3 col-sm-3">
                <p class="aval_bal aval_bal_font">
                    <button class="button-27" onclick="document.location.href='/Passbook/RechargeyourCash';" style="MARGIN-LEFT: 59PX;
    MARGIN-TOP: -8PX;">
                        Add Money
                    </button>
                </p>
            </div>
        </div>
    </div>
    <br />
    <hr>
    <br />
    <div class="third-header">
        <div class="container card" style="background:white; border: 2px solid white ;padding: 10px;border-radius: 25px;">
            <div class="card-body" style="font-size: 40px;text-align:center; font-weight: 700; cursor: pointer;">
                <h3 class="card-title" style="margin-top:15px;text-align:center;padding-top: 20px;"><strong class="heading_customer_phone">Enter Customer Mobile Number</strong></h3>
                <div class="form-group-recharge">
                    <input id="txtCustomerMobile" style="margin-left:-30px;" autocomplete="off" type="tel" maxlength="10" required="required" class="txt-input js-input-mobile txt-input-text" placeholder="Customer Mobile Number" />
                    <br />
                    <h6><span id="errCustomerMobile" style="margin-left:-30px;" class="errorMsg"></span></h6>
                    <button type="submit" id="btnProceed" class="button-27">Proceed</button>
                </div>

                <!-- Modal For Error-->
                <div class="modal fade" id="modalErr" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header modal-header-recharge">
                                <a href="/DMT2/StartUp" class="close close_cross">&times;</a>
                            </div>
                            <div class="modal-body" style="background-color:white;">
                                <div class="row div-recharge-img">

                                    <div class="col-sm-4">
                                    </div>
                                    <div class="col-sm-4 custom_img_size pay-img">
                                        <img src="~/css/Img_DMT2/img_lock.jpeg" class="img-width" style="height:100px;width:120px;">
                                    </div>
                                    <div class="col-sm-4">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12" style="text-align:center">
                                        <label style="text-align:center;">
                                            This service is not available in your existing subscription packagae!
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="row">
                                    <div class="col-md-12" style="display: inline-flex;">
                                        <div class="col-sm-6 col-md-6">
                                            <button type="button" id="btnPayNow" class="button-27">Upgrade Package</button>
                                        </div>
                                        <div class="col-sm-6 col-md-6">
                                            <button type="button" id="btnClose" class="btn btn-danger" data-dismiss="modal">LATER</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal For Register-->
                <input type="button" id="btnModalAddUser" style="display:none" data-target="#modalAddUser" data-toggle="modal" />
                <div class="modal fade" id="modalAddUser" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header modal-header-recharge">
                                <a href="/DMT2/StartUp" class="close close_cross">&times;</a>
                                <h4 class="modal-title" style="text-align:center;"><b>Register New Customer</b></h4>
                            </div>
                            <div class="modal-body" style="background-color:white;">
                                <div class="row div-recharge-img dmt-user-img">

                                    <div class="col-sm-4">
                                    </div>
                                    <div class="col-sm-4 custom_img_size pay-img">
                                        <img src="~/css/Img_DMT2/Img_Add_user.jpeg" class="img-width" style="height:100px;width:120px;">
                                    </div>
                                    <div class="col-sm-4">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12" style="text-align:center">
                                        <div class="form-group-recharge" style="margin-left:-20px;">
                                            <input id="txtMobile" autocomplete="off" type="tel" maxlength="10" required="required" class="txt-input js-input-mobile txt-input-text" disabled placeholder="Customer Mobile Number" />
                                        </div>
                                        <div class="form-group-recharge" style="margin-left:-20px;">
                                            <input id="txtName" autocomplete="off" type="text" required="required" class="txt-input txt-input-text" placeholder="Name (as per PAN)" />
                                            <br />
                                            <h6><span id="errtxtName" style="color:red;" class="errMsg"></span></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="row">
                                    <div class="col-md-12" style="display: inline-flex;">
                                        <div class="col-sm-6 col-md-6">
                                            <button type="button" id="btnSendOTP" class="button-27">Send OTP</button>
                                        </div>
                                        <div class="col-sm-6 col-md-6">
                                            <button type="button" id="btnClose" class="btn btn-danger" data-dismiss="modal">Not Now</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal For Submit OTP-->
                <input type="button" id="btnModalOTP" style="display:none" data-target="#modalOTP" data-toggle="modal" />
                <div class="modal fade" id="modalOTP" role="dialog" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header modal-header-recharge">
                                <a href="/DMT2/StartUp" class="close close_cross">&times;</a>
                                <h4 class="modal-title" style="text-align:center;"><b>OTP Verification</b></h4>
                            </div>
                            <div class="modal-body" style="background-color:white;">
                                <div class="row">
                                    <div class="col-sm-12" style="text-align:center">
                                        <h3 style="text-align:center;font-weight:600;" class="heading_customer_phone"> OTP has been sent to sender's mobile number-</h3>
                                        <h3 id="lblOTPModalNumber" style="font-weight:600;" class="heading_customer_phone"></h3>
                                    </div>

                                    <div class="col-sm-12" style="text-align:center">
                                        <div class="form-group-recharge" style="margin-left:-20px;">
                                            <input id="txtOTP" autocomplete="off" type="tel" maxlength="4" required="required" class="txt-input js-input-mobile txt-input-text" placeholder="Enter OTP" />
                                            <br />
                                            <h6><span id="errtxtOTP" style="color:red;" class="errMsg"></span></h6>
                                        </div>
                                    </div>
                                    <div class="col-sm-12" style="text-align:center">
                                        <div class="form-group-recharge" style="margin-left:-20px;">
                                            <h3 id="some_div" class="heading_customer_phone"></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="row">
                                    <div class="col-md-12" style="display: inline-flex;">
                                        <div class="col-sm-6 col-md-6">
                                            <button type="button" id="btnVerifyOTP" class="button-27">Verifiy OTP</button>
                                        </div>
                                        <div class="col-sm-6 col-md-6">
                                            <button type="button" id="btnResendOTP" class="button-27">Resend OTP</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col col-md-12 col-sm-12 col-lg-12">
            <img src="/css/ImageSlide/REDMIL-BUSINESS-MALL-01.png" style="width:100%;" alt="Norway" />
        </div>
    </div>
    <hr>
    <div class="fourth-header">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12">


                <div class="container card" style="background:white; border: 2px solid white ;padding: 10px;border-radius: 25px;">
                    <div class="card-body" style="font-size: 40px;text-align:center; font-weight: 700;">
                        <div class="col-md-6 col-sm-6 col-lg-6">
                            <div class="wallet-box bg-wt-round">
                                <div class="inner">
                                    <div class="advantage-images">
                                        <img src="~/css/Img_DMT2/Img_Sender.jpeg" class="img-responsive" alt="Business opportunity with minimal investments">
                                    </div>
                                    <h4><button style="margin-left: 55px;" class="button-27" type="button" id="btnRecentSender"><b>Recent Senders</b></button></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-lg-6">
                            <div class="wallet-box bg-wt-round">
                                <div class="inner">
                                    <div class="advantage-images">
                                        <img src="~/css/Img_DMT2/Img_business_report,jpeg.jpg" class="img-responsive" alt="Superior &amp; secure technology platform">
                                    </div>
                                    <h4>
                                        <a href="~/MyBusinessReports/GetDMTDataList" style="margin-left: 55px;text-decoration: unset;color: white" class="button-27" type="button" id="btnBusinessRepo"><b>Business Reports</b></></a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal For Recent Sender-->
                <input type="button" id="btnModalSenderDetails" style="display:none" data-target="#modalSenderDetails" data-toggle="modal" />
                <div class="modal fade" id="modalSenderDetails" role="dialog" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog" style="width:100%;">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header modal-header-recharge">
                                <a href="/DMT2/StartUp" class="close close_cross">&times;</a>
                                <h2 class="modal-title" style="text-align:center;font-weight:800;"><b>Recent Sender List</b></h2>
                            </div>
                            <div class="modal-body" style="background-color:white;">
                                <div class="row">
                                    <div class="main-table-recharge">
                                        @* <table id="myTable" class="table table-hover table-responsive ">
                                        <thead>
                                        <tr style="white-space: nowrap;">
                                        <th>
                                        <div class="div-second-plan-head1"><h4 style="font-weight:700;">Sender Name</h4></div>
                                        </th>
                                        <th>
                                        <div class="div-second-plan-head1"><h4 style="font-weight:700;">Sender Number</h4></div>
                                        </th>
                                        <th>
                                        <div class="div-second-plan-head1"><h4 style="font-weight:700;">Monthly Limit</h4></div>
                                        </th>
                                        <th>
                                        <div class="div-second-plan-head1"><h4 style="font-weight:700;">Available Limit</h4></div>
                                        </th>
                                        <th>
                                        <input type="hidden" id="hdnSenderID" />
                                        <div class="div-second-plan-head1"><h4 style="font-weight:700;">Action</h4></div>
                                        </th>
                                        </tr>
                                        </thead>
                                        <tbody id="tbloutput">
                                        </tbody>
                                        </table>*@
                                        <div id="temptableid">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="last-heading">
        <div class="col col-md-12 col-sm-12 col-lg-12">
            <div class="div-main-oplist">
                <div class="div-recharge-opimage">
                    <div class="div-oprator-heading"><h4 class="heading_tag_bbps"><b>Powered By</b></h4></div>
                    <div class="row" style="text-align:center;">
                        <div class="col-md-4 col-sm-12 col-xs-12 "></div>
                        <div class="col-md-2 col-sm-12 col-xs-12 padding-top-10 custom_img_size">
                            <img src="~/css/Img_DMT2/Img_Fino.jpeg" alt="Exide_life_insurance" class="img-width" style="height:200px;">
                            <div class="overlay"> <a href="#" target="_blank" class="icon" title="Exide_life_insurance"></a></div>
                            <div class="leadership_name">
                                <br />
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-12 col-xs-12 padding-top-10 custom_img_size">
                            <img src="~/css/Img_DMT2/rbi_logo.jpeg" alt="HDFC-Life-Insurance" class="img-width" style="height:165px;">
                            <div class="overlay"> <a href="#" target="_blank" class="icon" title="rbi"></a></div>
                            <div class="leadership_name">
                                <br />
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12 "></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#btnProceed").click(function () {
        $(this).html('<i class="fa fa-spinner fa-spin"></i> Loading...');
        setTimeout(() => {
            $(this).html('Proceed');
        }, 2000);
        var MobileNum = $("#txtCustomerMobile").val();
        var valid = document.getElementById("errCustomerMobile").innerHTML
        if (MobileNum.length == 10 && valid == "") {
            document.getElementById("errCustomerMobile").innerHTML = "";
            $.ajax({
                type: "POST",
                url: "/DMT2/Registered",
                data: { 'mobileNum': MobileNum },
                type: 'POST',
                dataType: 'json',
                success: function (response) {
                    setTimeout(() => {
                        $(this).html('Proceed');
                    }, 2000);
                    if (response.result == "EmptyResult") {
                        window.location.href = response.url;
                    }
                    else if (response.result == "UnExpectedStatusCode") {
                        window.location.href = response.url;
                    }
                    else if (response.result == "RedirectToException") {
                        window.location.href = response.url;
                    }
                    else if (response.statuscode == "SNR") {
                        $('#txtMobile').val(MobileNum);
                        $("#btnModalAddUser").trigger("click");
                    }
                    else if (response.data.statuscode == "TXN") {
                        window.location.href = "/DMT2Dashboard/DMTDashboard?";

                    }
                }
            });
        }
        else {
            document.getElementById("errCustomerMobile").innerHTML = "Please Insert 10 Digits Mobile Number";
            document.getElementById("errCustomerMobile").style.color = "red";
        }

    });

    $("#btnSendOTP").click(function () {
        $(this).html('<i class="fa fa-spinner fa-spin"></i> Loading...');
        setTimeout(() => {
            $(this).html('Send Otp');
        }, 2000);
        var name = $("#txtName").val();
        var mobNum = $("#txtMobile").val();
        if (name.length === 0) {
            document.getElementById("errtxtName").innerHTML = "Please Enter Name";
        }
        else {
            $.ajax({
                type: "POST",
                url: "/DMT2/SendOTP",
                data: { 'mobNum': mobNum, 'name': name },
                type: 'POST',
                dataType: 'json',
                success: function (response) {
                    setTimeout(() => {
                        $(this).html('Send Otp');
                    }, 2000);
                    if (response.result == "EmptyResult") {
                        window.location.href = response.url;
                    }
                    else if (response.result == "UnExpectedStatusCode") {
                        window.location.href = response.url;
                    }
                    else if (response.result == "RedirectToException") {
                        window.location.href = response.url;
                    }
                    else if (response.statuscode == "TXN") {
                        document.getElementById("lblOTPModalNumber").innerHTML = mobNum;
                        var timeLeft = 30;
                        var elem = document.getElementById('some_div');

                        var timerId = setInterval(countdown, 1000);

                        function countdown() {
                            if (timeLeft == -1) {
                                clearTimeout(timerId);
                                document.getElementById("btnVerifyOTP").style.display = "none";
                                document.getElementById("some_div").innerHTML = "OTP Expired. Please click on Resend Button";
                                document.getElementById("some_div").style.color = "red";

                            } else {
                                elem.innerHTML = timeLeft + ' seconds remaining';
                                timeLeft--;
                            }
                        }
                        $("#btnModalOTP").trigger("click");
                        $("#modalAddUser").hide();
                    }
                    else if (response.statuscode == "ERR") {
                        window.location.href = response.url;
                    }
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }

    });

    $("#btnResendOTP").click(function () {
        var name = $("#txtName").val();
        var mobNum = $("#txtMobile").val();

        $.ajax({
            type: "POST",
            url: "/DMT2/SendOTP",
            data: { 'mobNum': mobNum, 'name': name },
            type: 'POST',
            dataType: 'json',
            success: function (response) {
                if (response.result == "EmptyResult") {
                    window.location.href = response.url;
                }
                else if (response.result == "UnExpectedStatusCode") {
                    window.location.href = response.url;
                }
                else if (response.result == "RedirectToException") {
                    window.location.href = response.url;
                }
                else if (response.statuscode == "TXN") {
                    document.getElementById("lblOTPModalNumber").innerHTML = mobNum;
                }
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    });

    $("#btnVerifyOTP").click(function () {
        $(this).html('<i class="fa fa-spinner fa-spin"></i> Loading...');
        setTimeout(() => {
            $(this).html('Verifiy OTP');
        }, 2000);
        var mobnum = $("#txtMobile").val();
        var otp = $("#txtOTP").val();
        var name = $("#txtName").val();
        if (otp.length < 4) {
            document.getElementById("errtxtOTP").innerHTML = "Please Enter 4 Digits Valid OTP";
        }
        else {
            $.ajax({
                type: "POST",
                url: "/DMT2/ConfirmOTP",
                data: { 'mobNum': mobnum, 'otp': otp, 'name': name },
                type: 'POST',
                dataType: 'json',
                success: function (response) {
                    $(this).html('<i class="fa fa-spinner fa-spin"></i> Loading...');
                    setTimeout(() => {
                        $(this).html('Verifiy OTP');
                    }, 2000);
                    if (response.result == "EmptyResult") {
                        window.location.href = response.url;
                    }
                    else if (response.result == "UnExpectedStatusCode") {
                        window.location.href = response.url;
                    }
                    else if (response.result == "RedirectToException") {
                        window.location.href = response.url;
                    }
                    else if (response.Result = "Redirect") {
                        window.location.href = response.url;
                    }
                    else if (response.statuscode == "TXN") {
                        window.location.href = response.url;
                    }
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }

    });


    $("#btnRecentSender").click(function () {
        $(this).html('<i class="fa fa-spinner fa-spin"></i> Loading...');
        setTimeout(() => {
            $(this).html('Recent Senders');
        }, 2000);
            
        $.ajax({
            type: "POST",
            url: "/DMT2/RecentSenders",
            data: {},
            type: 'POST',
            dataType: 'json',
            success: function (response) {
                setTimeout(() => {
                    $(this).html('Recent Senders');
                }, 2000);
                debugger;
                if (response.result == "EmptyResult") {
                    window.location.href = response.url;
                }
                else if (response.result == "UnExpectedStatusCode") {
                    window.location.href = response.url;
                }
                else if (response.result == "RedirectToException") {
                    window.location.href = response.url;
                }
                else {
                    debugger;
                    //var table = $('#tempTbl1').DataTable();
                    //table.destroy();
                    $("#temptableid").find("table").remove();
                    var tr = '<table id="tempTbl1" mode="static" class="table table-striped table-bordered table-responsive wrapper dataTable no-footer responsive_table_businessRepo" border="1" cellspacing="0" cellpadding="3" style="width:100%"><thead><tr>';
                    var columnName = Object.keys(response[0]);
                    for (var i = 0; i <= columnName.length; i++) {

                        if (i == columnName.length) {
                            tr += '<th class="business_Repo_Table_Header">Action</th>'
                        }
                        else {
                            tr += '<th class="business_Repo_Table_Header">' + columnName[i].replace(/([a-z0-9])([A-Z])/g, '$1 $2').toUpperCase() + '</th>'
                        }
                    }
                    debugger;
                    tr += '</tr></thead>';
                    tr += '<tbody id="output">';

                    for (var i = 0; i < response.length; i++) {
                        tr += '<tr>'
                        var columnValue = Object.values(response[i]);
                        for (var j = 0; j <= columnValue.length; j++) {
                            //if (j == 0) {
                            //    tr += '<td class="business_Repo_Table_td">' + (i + 1) + '</td>'
                            //}
                            //else
                            if (j == columnValue.length) {
                                tr += '<td class="business_Repo_Table_td"><button style="background:#4CC713;color:white" id=1' + i + ' class="btnViewReceipt" onclick="sendDashboard()">Transfer Money</button></td>'
                            }
                            else {
                                tr += '<td class="business_Repo_Table_td">' + columnValue[j] + '</td>'
                            }
                        }
                        tr += '</tr>';
                    }
                    debugger;
                    tr += '</tbody></table>';
                    $("#temptableid").append(tr);
                    var table = $('#tempTbl1').DataTable({
                        rowReorder: {
                            selector: 'td:nth-child(2)'
                        },
                        responsive: true
                    });

                    //let output = response.map(i => "<tr class='tr-recharge'><td class='td-recharge'>" + i.senderName + "</td><td>" + i.senderMobile + "</td><td>" + i.monthlyLimit + "</td><td>" + i.usedLimit + "</td><td style='margin-top:3px;' id='id1'onclick='sendDashboard()' button class='btn-process-recharge3  btn-amount-bind2 btn-amount-bind1'>" + 'Transfer Money' + "</button></td></tr>");
                    //$("#tbloutput").html(output);
                    $("#btnModalSenderDetails").trigger("click");
                }
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    });

    $("#txtCustomerMobile").keyup(function (e) {
        var phoneno = /^(0|91)?[6-9][0-9]{9}$/;
        var MobileNum = $("#txtCustomerMobile").val();
        if (!phoneno.test(MobileNum)) {
            document.getElementById("errCustomerMobile").style.color = "red";
            $("#errCustomerMobile").html("Please insert Valid Mobile Number");
        }
        else {
            $("#errCustomerMobile").html("");
        }
    });

    function sendDashboard() {
        $(document).ready(function () {
            //$("#myTable").on('click', '#id1', function () {
            $("#temptableid").on('click', ".btnViewReceipt", function () {
                // get the current row
                var currentRow = $(this).closest("tr");
                var col2 = currentRow.find("td:eq(1)").html(); // get current row 5th table cell  TD value
                var data = col2;
                $.ajax({
                    type: "POST",
                    url: "/DMT2/SenderListToDashboardRegistered",
                    data: { 'mobileNum': col2 },
                    type: 'POST',
                    dataType: 'json',
                    success: function (response) {
                        if (response.result == "EmptyResult") {
                            window.location.href = response.url;
                        }
                        else if (response.result == "UnExpectedStatusCode") {
                            window.location.href = response.url;
                        }
                        else if (response.result == "RedirectToException") {
                            window.location.href = response.url;
                        }
                        else {
                            window.location.href = "/DMT2Dashboard/DMTDashboard?";
                        }
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            });
        });
    }
</script>
<script>

    $(document).ready(function () {
        var table = $('#myTable').DataTable({
            rowReorder: {
                selector: 'td:nth-child(2)'
            },
            responsive: true
        });

    });

</script>