@using Project_Redmil_MVC
@{
    ViewData["Title"] = "REDMIL – A portal for important services required by Indians";
    Layout = "~/Pages/Shared/_LayoutMaster.cshtml";
}
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="~/css/loader.css" rel="stylesheet" />
<link href="~/ResponsiveCSS/Index.css" rel="stylesheet" />
@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">*@
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>*@
<!-- Latest compiled and minified JavaScript -->
@*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>*@
@*<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700&subset=latin-ext" rel="stylesheet">*@


@*<div id="Moduleloader-page" class="jssorl-009-spin">
    <img src="https://media1.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif" />
</div>*@
<!-- RedMIl Intro Start -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="text-end heading_RedMIl">
                @TempData["Message"]
            </h3>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="col-md-6 col-sm-6 col-lg-6">
                <div class="nWhEP">
                    <div class="GkeQS">
                        <div class="_3OoXW">
                            <div class="_1kjEe">
                                <img src="~/css/ImageLogo/redmil-new-logo2.png" alt="RedMil">
                            </div>
                            <h1 id="siteContentH">Start Your Business With India's Biggest B2B FinTech Platform</h1>
                            <!-- Define the content of the page that would be changed -->
                            <p class="_3De77" id="siteContent">
                                Financial Services Accessible To Everyone, Everywhere PAN India.
                                Now work with 45+ services and 150+ banks and brands through one platform.
                                Join today and download the app!
                            </p>
                        </div>
                        <div>

                        
                        <a id="siteContentDwnldBtn" class="downloadBtn download_button" href="https://play.google.com/store/apps/details?id=com.wts.redmilapp" target="_blank" rel="noopener noreferrer">
                            Download Redmil Business Mall App
                            <img src="~/css/ImageLogo/google-play.png" width="23" height="25" />
                        </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6">
                <div class="nWhEP">
                    <div class="GkeQS">
                        <div class="dashImg">
                            <img src="~/css/ImageLogo/Web-Intro.png" alt="BannerImage" class="DashImg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- RedMil Intro Ends -->
<!--Sidebar start section-->

<div class="section team-area padding-top-bottom-40">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="section-title padding-bottom-30">
                    <h2><span>Our Services</span></h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <section class="customer-logos slider" data-arrows="true">

                <div class="col-custom text-center col-centered">
                    <div class="slide">
                        <a href="~/BankingServices/BankingServices"><img src="~/css/Images/Banking-services.png" alt="Banking and Financial Services"></a>
                    </div>
                </div>
                <div class="col-custom text-center col-centered">
                    <div class="slide">
                        <a href="~/BillPaymentsServicesNavigation/BillPaymentsServicesNavigation"><img src="~/css/Images/Bill-Payment-services.png" alt="Payment Services"></a>
                    </div>
                </div>
                <div class="col-custom text-center col-centered">
                    <div class="slide">
                        <a href="~/BusinessSolutionServicesNavigation/BusinessSolutionServicesNavigation"><img src="~/css/Images/Business-solution-services.png" alt="Tours and Travel Services"></a>
                    </div>
                </div>
                <div class="col-custom text-center col-centered">
                    <div class="slide">
                        <a href="~/DigitalDistributionNavigation/DigitalDistributionNavigation"><img src="~/css/Images/Digital-Distribution-servuces.png" alt="Bada Bazaar Services"></a>
                    </div>
                </div>
                <div class="col-custom text-center col-centered">
                    <div class="slide">
                        <a href="~/PaymentServicesNavigation/PaymentServicesNavigation"><img src="~/css/Images/Payment-services.png" alt=""></a>
                    </div>
                </div>
                <div class="col-custom text-center col-centered">
                    <div class="slide">
                        <a href="~/LoanServicesNavigation/LoanServicesNavigation"><img src="~/css/Images/Loan-services.png" alt=""></a>
                    </div>
                </div>
                <div class="col-custom text-center col-centered">
                    <div class="slide">
                        <a href="~/InvestmentServicesNavigation/InvestmentServicesNavigation"><img src="~/css/Images/Investment-Services.png" alt="Devices and Other Services"></a>
                    </div>
                </div>

                @* <div class="col-custom text-center col-centered">
                <div class="slide">
                <img src="~/css/Images/Travel-services.png">
                </div>
                </div>
                <div class="col-custom text-center col-centered">
                <div class="slide">
                <img src="~/css/Images/Recharge-services.png">
                </div>
                </div>*@
            </section>
        </div>
    </div>
</div>

<!--Sidebar Ends Section-->
<!-- About Us Start -->

<div class="about-area padding-top-bottom-60">
    <div class="container">
        <div class="row">
            <div class="section-title text-center padding-bottom-30">
                <h2><span>About Us</span></h2>
            </div>
            <div class="col-sm-6">
                <div class="video-view" id="video-view">
                    <div class="cont">
                        <!-- </video> -->
                        <iframe style="width:99%;height:400px" src="https://www.youtube.com/embed/v=S78dUi6wdlk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        @* <iframe style="width:100%; height:400px" src="https://www.youtube.com/embed/v=S78dUi6wdlk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>*@


                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="about-content">
                    <p>REDMIL GROUP is working since 2006, is now changing the working scenario into the FINTECH WORLD through an online platform by the name of REDMIL BUSINESS MALL. Here we give wings to those who want to do their own business. Through our B2B platform all our DIGITAL ENTREPRENEUR connects with 150+ national and international brands & provides quality service at their customer's door step.</p>
                    <p>As a Fintech company we have brought changes in the working style as well as a real combination of brain & technology which makes our work smarter in the WORLD OF FINANCE. We believe in keeping things transparent so through our platform each DIGITAL ENTREPRENEUR can keep a track on his working & proceedings.</p>
                    <p>Our online platform, REDMIL BUSINESS MALL is a complete solution to any business. Any requirement related to day to day working of the individual can be taken care & served at his doorstep. Our availability is PAN INDIA so no one in any corner of our nation feels unserved.</p>
                    <p>Being a part of INDIA, we are moving ahead keeping our nation and our DIGITAL ENTREPRENEURS together to create work opportunities for everyone and everywhere. We have 50+ sectors to work into.</p>

                </div>
               @* <div class="div_readMore">
                    <a class="button-21" href="#">Read more</a>
                </div>*@
            </div>
        </div>
    </div>
</div>

<!-- About Us Ends -->
<!-- Advantage of Redmil Business Mall {Start} -->

<div class="section services-area padding-top-bottom-60">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center padding-bottom-30">
                <div class="section-title">
                    <h2><span>Advantages of Redmil Business Mall</span></h2>
                </div>
            </div>
        </div>
        <div class="row mt-50">
            <div class="col-md-1 col-sm-1 col-12 col-xs-12"></div>
            <div class="col-md-2 col-sm-2 col-6 col-xs-6">
                <div class="service-box-3 bg-wt-round">
                    <div class="inner">
                        <div class="advantage-images">
                            <img src="~/css/Img/Minimum-Investment.png" class="img-responsive" alt="Business opportunity with minimal investments" title="Business opportunity with minimal investments">
                        </div>
                        <h4>Business opportunity with zero investment</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-6 col-xs-6">
                <div class="service-box-3 bg-wt-round">
                    <div class="inner">
                        <div class="advantage-images">
                            <img src="~/css/Img/easy-onboarding-on.png" class="img-responsive" alt="Easy onboarding on our platform" title="Easy onboarding on our platform">
                        </div>
                        <h4>Easy onboarding on <br>our platform</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-6 col-xs-6">
                <div class="service-box-3  bg-wt-round">
                    <div class="inner">
                        <div class="advantage-images">
                            <img src="~/css/Img/Banking-digital-services.png" class="img-responsive" alt="One stop shop for all banking digital services" title="One stop shop for all banking &amp; digital services">
                        </div>
                        <h4>One stop shop for all <br> Digital &amp; Financial services</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-6 col-xs-6">
                <div class="service-box-3 bg-wt-round">
                    <div class="inner">
                        <div class="advantage-images">
                            <img src="~/css/Img/high-earning.png" class="img-responsive" alt="High earning potential" title="High earning potential">
                        </div>
                        <h4>High earning<br> potential</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-6 col-xs-6">
                <div class="service-box-3 bg-wt-round">
                    <div class="inner">
                        <div class="advantage-images">
                            <img src="~/css/Img/superior-secure.png" class="img-responsive" alt="Superior &amp; secure technology platform" title="Superior &amp; secure technology platform">
                        </div>
                        <h4>Secure &amp; Reliable <br> technology platform</h4>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<br />
<!--Slider Starts Here-->

<div class="section single-services-area">
    <div class="row" style="margin-right: 0;">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">

                <div class="item" id="mySlides">
                    <img src="~/css/ImageSlide/REDMIL-BUSINESS-MALL-01.png" alt="Chania" width="460" height="345">
                </div>

                <div class="item" id="mySlides">
                    <img src="~/css/ImageSlide/REDMIL-BUSINESS-MALL-02.png" alt="Chania" width="460" height="345">

                </div>

                <div class="item" id="mySlides">
                    <img src="~/css/ImageSlide/your-community-banner.png" alt="Flower" width="460" height="345">

                </div>

            </div>
        </div>
    </div>
</div>

<!--Slider Ends Here-->

<br />
<br />

<!--TagLine starts Here-->

<div class="section make_tomorrow_digital background-image tagline_image">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="call-to-action">
                    <div class="row">
                        <div class="col-sm-7 col-xs-12">
                            <h3 class="padding-left-right-50">Kamai ka sahi raasta chune aur bane apne shehar ka Banking point</h3>
                        </div>
                        <div class="col-sm-5 col-xs-12 text-right">
                            <div class="read-more padding-top-bottom-40">
                                <a href="https://play.google.com/store/search?q=redmill+business+mall+app&amp;c=apps" target="_blank" class="button-23">Join Now </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--TagLine ends Here-->
<!-- Advantages of Redmil Business Mall {End} -->
<!-- Partner Logo Start-->

<div class="section partner-logo-area padding-top-60 padding-bottom-70">
    <div class="container">
        <div class="row align-items-center" id="ourPartner-slide" style="display: block;">
            <div class="col-sm-12">
                <div class="section-title text-center padding-bottom-30">
                    <h2><span>Our  Partners</span></h2>
                </div>
                @*<div class="partner-logo owl-carousel owl-theme" style="opacity: 1; display: block;">
                <section class="customer-logos slider" data-arrows="true">
                <div class="slide partners"><img src="~/css/partner/adani.png"></div>
                <div class="slide partners"><img src="~/css/partner/airtel.png"></div>
                <div class="slide partners"><img src="~/css/partner/amazon.png"></div>
                <div class="slide partners"><img src="~/css/partner/au.png"></div>
                <div class="slide partners"><img src="~/css/partner/Axis-Bank.png"></div>
                <div class="slide partners"><img src="~/css/partner/Bajaj-a.png"></div>
                <div class="slide partners"><img src="~/css/partner/bajaj-f.png"></div>
                <div class="slide partners"><img src="~/css/partner/Birla.png"></div> partners

                <div class="slide partners"><img src="~/css/partner/bob.png"></div>
                <div class="slide partners"><img src="~/css/partner/BSNL.png"></div>
                <div class="slide partners"><img src="~/css/partner/citi-bank.png"></div>
                <div class="slide partners"><img src="~/css/partner/Club-mahindra.png"></div>
                <div class="slide partners"><img src="~/css/partner/dhani.png"></div>
                <div class="slide partners"><img src="~/css/partner/dish-tv.png"></div>
                <div class="slide partners"><img src="~/css/partner/equitas.png"></div>
                <div class="slide partners"><img src="~/css/partner/FI.png"></div> partners

                <div class="slide partners"><img src="~/css/partner/freecharge.png"></div>
                <div class="slide partners"><img src="~/css/partner/Fullerton.png"></div>
                <div class="slide partners"><img src="~/css/partner/HDFC-bank.png"></div>
                <div class="slide partners"><img src="~/css/partner/HDFC-Life.png"></div>
                <div class="slide partners"><img src="~/css/partner/icici-bank.png"></div>
                <div class="slide partners"><img src="~/css/partner/icici-Securities.png"></div>
                <div class="slide partners"><img src="~/css/partner/itc.png"></div>
                <div class="slide partners"><img src="~/css/partner/jio.png"></div> partners

                <div class="slide partners"><img src="~/css/partner/kotak-811.png"></div>
                <div class="slide partners"><img src="~/css/partner/Loan-pe-gyan.png"></div>
                <div class="slide partners"><img src="~/css/partner/marriott.png"></div>
                <div class="slide partners"><img src="~/css/partner/money-tap.png"></div>
                <div class="slide partners"><img src="~/css/partner/Money-View.png"></div>
                <div class="slide partners"><img src="~/css/partner/mp-electricity.png"></div>
                <div class="slide partners"><img src="~/css/partner/nippon.png"></div>
                <div class="slide partners"><img src="~/css/partner/NPCI.png"></div> partners

                <div class="slide partners"><img src="~/css/partner/paytm.png"></div>
                <div class="slide partners"><img src="~/css/partner/PNB.png"></div>
                <div class="slide partners"><img src="~/css/partner/Pocket.png"></div>
                <div class="slide partners"><img src="~/css/partner/Reliance.png"></div>
                <div class="slide partners"><img src="~/css/partner/Safe-Gold.png"></div>
                <div class="slide partners"><img src="~/css/partner/SBI.png"></div>
                <div class="slide partners"><img src="~/css/partner/Sbi-card.png"></div>
                <div class="slide partners"><img src="~/css/partner/SBI-Mutual.png"></div> partners

                <div class="slide partners"><img src="~/css/partner/Shriram.png"></div>
                <div class="slide partners"><img src="~/css/partner/Sun.png"></div>
                <div class="slide partners"><img src="~/css/partner/tata.png"></div>
                <div class="slide partners"><img src="~/css/partner/Tata-Aig.png"></div>
                <div class="slide partners"><img src="~/css/partner/the-new-india.png"></div>
                <div class="slide partners"><img src="~/css/partner/United-India.png"></div>
                <div class="slide partners"><img src="~/css/partner/Upward.png"></div>
                <div class="slide partners"><img src="~/css/partner/UTI.png"></div> partners

                <div class="slide partners"><img src="~/css/partner/vi.png"></div>
                <div class="slide partners"><img src="~/css/partner/Videocon.png"></div>
                <div class="slide partners"><img src="~/css/partner/yes-bank.png"></div>
                <div class="slide partners"><img src="~/css/partner/yes-securities.png"></div>
                </section>
                </div>*@
                <div class="container">
                    <!--Item slider text-->
                    @*<h1 class="text-center"> Product Slider</h1>
                    <ul>
                    <li>Auto Slide</li>
                    <li>Stop On Hover</li>
                    <li>Slide One Item</li>
                    </ul>
                    <div class="container">
                    <div class="row" id="slider-text">
                    <div class="col-md-6">
                    <h2>NEW COLLECTION</h2>
                    </div>
                    </div>
                    </div>*@

                    <!-- Item slider-->
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="carousel carousel-showmanymoveone slide" id="itemslider">
                                    <div class="carousel-inner">
                                        <div class="item active">
                                            <div class="col-xs-12 col-sm-6 col-md-2">
                                                <a href="#">
                                                    <img src="~/css/partner/adani.png"
                                                         class="img-responsive center-block">
                                                </a>
                                            </div>
                                        </div>

                                        <div class="item">
                                            <div class="col-xs-12 col-sm-6 col-md-2">
                                                <a href="#">
                                                    <img src="~/css/partner/airtel.png"
                                                         class="img-responsive center-block">
                                                </a>
                                            </div>
                                        </div>

                                        <div class="item">
                                            <div class="col-xs-12 col-sm-6 col-md-2">
                                                <a href="#">
                                                    <img src="~/css/partner/amazon.png"
                                                         class="img-responsive center-block">
                                                </a>
                                                @* <span class="badge">10%</span>*@
                                            </div>
                                        </div>

                                        <div class="item">
                                            <div class="col-xs-12 col-sm-6 col-md-2">
                                                <a href="#">
                                                    <img src="~/css/partner/au.png"
                                                         class="img-responsive center-block">
                                                </a>
                                            </div>
                                        </div>

                                        <div class="item">
                                            <div class="col-xs-12 col-sm-6 col-md-2">
                                                <a href="#">
                                                    <img src="~/css/partner/Axis-Bank.png"
                                                         class="img-responsive center-block">
                                                </a>
                                            </div>
                                        </div>

                                        <div class="item">
                                            <div class="col-xs-12 col-sm-6 col-md-2">
                                                <a href="#">
                                                    <img src="~/css/partner/Bajaj-a.png"
                                                         class="img-responsive center-block">
                                                </a>
                                            </div>
                                        </div>

                                        <div class="item">
                                            <div class="col-xs-12 col-sm-6 col-md-2">
                                                <a href="#">
                                                    <img src="~/css/partner/bajaj-f.png"
                                                         class="img-responsive center-block">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="col-xs-12 col-sm-6 col-md-2">
                                                <a href="#">
                                                    <img src="~/css/partner/Birla.png"
                                                         class="img-responsive center-block">
                                                </a>
                                            </div>
                                        </div>

                                        <div class="item">
                                            <div class="col-xs-12 col-sm-6 col-md-2">
                                                <a href="#">
                                                    <img src="~/css/partner/bob.png"
                                                         class="img-responsive center-block">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="col-xs-12 col-sm-6 col-md-2">
                                                <a href="#">
                                                    <img src="~/css/partner/BSNL.png"
                                                         class="img-responsive center-block">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="col-xs-12 col-sm-6 col-md-2">
                                                <a href="#">
                                                    <img src="~/css/partner/citi-bank.png"
                                                         class="img-responsive center-block">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="col-xs-12 col-sm-6 col-md-2">
                                                <a href="#">
                                                    <img src="~/css/partner/Club-mahindra.png"
                                                         class="img-responsive center-block">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="col-xs-12 col-sm-6 col-md-2">
                                                <a href="#">
                                                    <img src="~/css/partner/dhani.png"
                                                         class="img-responsive center-block">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="col-xs-12 col-sm-6 col-md-2">
                                                <a href="#">
                                                    <img src="~/css/partner/dish-tv.png"
                                                         class="img-responsive center-block">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="col-xs-12 col-sm-6 col-md-2">
                                                <a href="#">
                                                    <img src="~/css/partner/equitas.png"
                                                         class="img-responsive center-block">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="col-xs-12 col-sm-6 col-md-2">
                                                <a href="#">
                                                    <img src="~/css/partner/FI.png"
                                                         class="img-responsive center-block">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="col-xs-12 col-sm-6 col-md-2">
                                                <a href="#">
                                                    <img src="~/css/partner/freecharge.png"
                                                         class="img-responsive center-block">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="col-xs-12 col-sm-6 col-md-2">
                                                <a href="#">
                                                    <img src="~/css/partner/Fullerton.png"
                                                         class="img-responsive center-block">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="col-xs-12 col-sm-6 col-md-2">
                                                <a href="#">
                                                    <img src="~/css/partner/HDFC-bank.png"
                                                         class="img-responsive center-block">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="col-xs-12 col-sm-6 col-md-2">
                                                <a href="#">
                                                    <img src="~/css/partner/icici-bank.png"
                                                         class="img-responsive center-block">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="col-xs-12 col-sm-6 col-md-2">
                                                <a href="#">
                                                    <img src="~/css/partner/icici-Securities.png"
                                                         class="img-responsive center-block">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="col-xs-12 col-sm-6 col-md-2">
                                                <a href="#">
                                                    <img src="~/css/partner/itc.png"
                                                         class="img-responsive center-block">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="col-xs-12 col-sm-6 col-md-2">
                                                <a href="#">
                                                    <img src="~/css/partner/jio.png"
                                                         class="img-responsive center-block">
                                                </a>
                                            </div>
                                        </div>

                                        <div class="item">
                                            <div class="col-xs-12 col-sm-6 col-md-2">
                                                <a href="#">
                                                    <img src="~/css/partner/kotak-811.png"
                                                         class="img-responsive center-block">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="col-xs-12 col-sm-6 col-md-2">
                                                <a href="#">
                                                    <img src="~/css/partner/Loan-pe-gyan.png"
                                                         class="img-responsive center-block">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="col-xs-12 col-sm-6 col-md-2">
                                                <a href="#">
                                                    <img src="~/css/partner/marriott.png"
                                                         class="img-responsive center-block">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="col-xs-12 col-sm-6 col-md-2">
                                                <a href="#">
                                                    <img src="~/css/partner/money-tap.png"
                                                         class="img-responsive center-block">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="col-xs-12 col-sm-6 col-md-2">
                                                <a href="#">
                                                    <img src="~/css/partner/Money-View.png"
                                                         class="img-responsive center-block">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="col-xs-12 col-sm-6 col-md-2">
                                                <a href="#">
                                                    <img src="~/css/partner/mp-electricity.png"
                                                         class="img-responsive center-block">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="col-xs-12 col-sm-6 col-md-2">
                                                <a href="#">
                                                    <img src="~/css/partner/nippon.png"
                                                         class="img-responsive center-block">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="col-xs-12 col-sm-6 col-md-2">
                                                <a href="#">
                                                    <img src="~/css/partner/NPCI.png"
                                                         class="img-responsive center-block">
                                                </a>
                                            </div>
                                        </div>


                                        <div class="item">
                                            <div class="col-xs-12 col-sm-6 col-md-2">
                                                <a href="#">
                                                    <img src="~/css/partner/paytm.png"
                                                         class="img-responsive center-block">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="col-xs-12 col-sm-6 col-md-2">
                                                <a href="#">
                                                    <img src="~/css/partner/PNB.png"
                                                         class="img-responsive center-block">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="col-xs-12 col-sm-6 col-md-2">
                                                <a href="#">
                                                    <img src="~/css/partner/Pocket.png"
                                                         class="img-responsive center-block">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="col-xs-12 col-sm-6 col-md-2">
                                                <a href="#">
                                                    <img src="~/css/partner/Reliance.png"
                                                         class="img-responsive center-block">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="col-xs-12 col-sm-6 col-md-2">
                                                <a href="#">
                                                    <img src="~/css/partner/Safe-Gold.png"
                                                         class="img-responsive center-block">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="col-xs-12 col-sm-6 col-md-2">
                                                <a href="#">
                                                    <img src="~/css/partner/SBI.png"
                                                         class="img-responsive center-block">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="col-xs-12 col-sm-6 col-md-2">
                                                <a href="#">
                                                    <img src="~/css/partner/Sbi-card.png"
                                                         class="img-responsive center-block">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="col-xs-12 col-sm-6 col-md-2">
                                                <a href="#">
                                                    <img src="~/css/partner/SBI-Mutual.png"
                                                         class="img-responsive center-block">
                                                </a>
                                            </div>
                                        </div>

                                        <div class="item">
                                            <div class="col-xs-12 col-sm-6 col-md-2">
                                                <a href="#">
                                                    <img src="~/css/partner/Shriram.png"
                                                         class="img-responsive center-block">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="col-xs-12 col-sm-6 col-md-2">
                                                <a href="#">
                                                    <img src="~/css/partner/Sun.png"
                                                         class="img-responsive center-block">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="col-xs-12 col-sm-6 col-md-2">
                                                <a href="#">
                                                    <img src="~/css/partner/tata.png"
                                                         class="img-responsive center-block">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="col-xs-12 col-sm-6 col-md-2">
                                                <a href="#">
                                                    <img src="~/css/partner/Tata-Aig.png"
                                                         class="img-responsive center-block">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="col-xs-12 col-sm-6 col-md-2">
                                                <a href="#">
                                                    <img src="~/css/partner/the-new-india.png"
                                                         class="img-responsive center-block">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="col-xs-12 col-sm-6 col-md-2">
                                                <a href="#">
                                                    <img src="~/css/partner/United-India.png"
                                                         class="img-responsive center-block">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="col-xs-12 col-sm-6 col-md-2">
                                                <a href="#">
                                                    <img src="~/css/partner/Upward.png"
                                                         class="img-responsive center-block">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="col-xs-12 col-sm-6 col-md-2">
                                                <a href="#">
                                                    <img src="~/css/partner/UTI.png"
                                                         class="img-responsive center-block">
                                                </a>
                                            </div>
                                        </div>

                                        <div class="item">
                                            <div class="col-xs-12 col-sm-6 col-md-2">
                                                <a href="#">
                                                    <img src="~/css/partner/Videocon.png"
                                                         class="img-responsive center-block">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="col-xs-12 col-sm-6 col-md-2">
                                                <a href="#">
                                                    <img src="~/css/partner/yes-bank.png"
                                                         class="img-responsive center-block">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="col-xs-12 col-sm-6 col-md-2">
                                                <a href="#">
                                                    <img src="~/css/partner/yes-securities.png"
                                                         class="img-responsive center-block">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    @* <div id="slider-control">
                                    <a class="left carousel-control" href="#itemslider" data-slide="prev">
                                    <img src="https://cdn0.iconfinder.com/data/icons/website-kit-2/512/icon_402-512.png"
                                    alt="Left" class="img-responsive">
                                    </a>
                                    <a class="right carousel-control" href="#itemslider" data-slide="next">
                                    <img src="http://pixsector.com/cache/81183b13/avcc910c4ee5888b858fe.png" alt="Right"
                                    class="img-responsive">
                                    </a>
                                    </div>*@
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Item slider end-->
                    <br /><br />
                    @* <footer class="bg-info">
                    <p class="text-center">
                    &copy; <a href="https://www.facebook.com/maruf.al.bashir" target="_blank">Maruf-Al Bashir 2020</a>
                    </p>
                    </footer>*@
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Partner Logo End -->
<!-- Testimonial Start-->
<!--Testimonial End-->
<!-- Badlav ka Prateek Stories Starts -->

<div class="container-fluid" id="tesim">
    <div class="row align-items-center">
        <div class="col-sm-12">
            <div class="section-title text-center padding-bottom-30">
                <h2><span>Testimonials</span></h2>
            </div>
        </div>
    </div>

    <section class="sliderTesti">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="testimonialBox">
                        <img class="imgBx" src="~/css/Testim/01.png" />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonialBox">
                        <img class="imgBx" src="~/css/Testim/02.png" />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonialBox">
                        <img class="imgBx" src="~/css/Testim/03.png" />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonialBox">
                        <img class="imgBx" src="~/css/Testim/04.png" />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonialBox">
                        <img class="imgBx" src="~/css/Testim/05.png" />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonialBox">
                        <img class="imgBx" src="~/css/Testim/06.png" />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonialBox">
                        <img class="imgBx" src="~/css/Testim/07.png" />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonialBox">
                        <img class="imgBx" src="~/css/Testim/08.png" />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonialBox">
                        <img class="imgBx" src="~/css/Testim/09.png" />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonialBox">
                        <img class="imgBx" src="~/css/Testim/10.png" />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonialBox">
                        <img class="imgBx" src="~/css/Testim/11.png" />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonialBox">
                        <img class="imgBx" src="~/css/Testim/12.png" />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonialBox">
                        <img class="imgBx" src="~/css/Testim/13.png" />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonialBox">
                        <img class="imgBx" src="~/css/Testim/14.png" />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonialBox">
                        <img class="imgBx" src="~/css/Testim/15.png" />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonialBox">
                        <img class="imgBx" src="~/css/Testim/16.png" />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonialBox">
                        <img class="imgBx" src="~/css/Testim/17.png" />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonialBox">
                        <img class="imgBx" src="~/css/Testim/18.png" />
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

<script>

    var swiper = new Swiper(".mySwiper", {
        effect: "coverflow",
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: "auto",
        autoplay: {
            delay: 4500,
        },
        coverflowEffect: {
            rotate: 0,
            stretch: 0,
            depth: 100,
            modifier: 2,
            slideShadows: true
        },
        loop: true
    });

    // ---------------------------------


    var myIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("item");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) { myIndex = 1 }
        x[myIndex - 1].style.display = "block";
        setTimeout(carousel, 2500); // Change image every 3 seconds
    }





    //$(window).on("load", function () {

    //    $("#Moduleloader-page").fadeOut(3000);

    //});
</script>
<script type="text/javascript">
    $(document).ready(function () {

        $('#itemslider').carousel({ interval: 6000 });

        $('.carousel-showmanymoveone .item').each(function () {
            var itemToClone = $(this);

            for (var i = 1; i < 6; i++) {
                itemToClone = itemToClone.next();

                if (!itemToClone.length) {
                    itemToClone = $(this).siblings(':first');
                }

                itemToClone.children(':first-child').clone()
                    .addClass("cloneditem-" + (i))
                    .appendTo($(this));
            }
        });
    });

</script>