@using Project_Redmil_MVC
@{
    ViewData["Title"] = "Banking Services";
    Layout = "~/Pages/Shared/_LayoutMaster.cshtml";
}
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="stylesheet" href="~/servicesCSS/prepaidrecharge.css" />
<link href="~/ResponsiveCSS/ServicesNavigation.css" rel="stylesheet" />
<link href="~/ResponsiveCSS/Index.css" rel="stylesheet" />
<br />
<br />
<br />
<br />
<br />
<br />

<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center padding-bottom-30">
            <div class="section-title section_title">
                <h1 class="heading_services"><span>Loan Services</span></h1>
            </div>
        </div>
    </div>
</div>

<br />
<br />
<br />
<br />


<div class="section services-area padding-top-bottom-60 row_heading_start">
    <div class="container">
        <section class="customer-logos Bill-Payement-Top" data-arrows="true">
            <div class="row" id="row2">
                <div class="col-md-12">
                    <div class="col-md-3 col-sm-3 col-3 col-xs-3 col-custom text-center col-centered row_cashWithdrawal">
                        <a data-target="#modalServiceComing" data-toggle="modal" class="radio1 radio1_center">
                            <div class="wallet-box bg-wt-round wallet_box_border">
                                <div class="inner">
                                    <div class="advantage-images">
                                        <img src="/css/Img_IconForNavigation/Commercial-Loan.png" class="img-responsive" alt="Commercial Loans" title="Commercial Loans">
                                    </div>
                                    <b class="about_services_para">Commercial Loans</b>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-3 col-sm-3 col-3 col-xs-3 col-custom text-center col-centered row_cashWithdrawal">
                        <a data-target="#modalServiceComing" data-toggle="modal" class="radio1 radio1_center">
                            <div class="wallet-box bg-wt-round wallet_box_border">
                                <div class="inner">
                                    <div class="advantage-images">
                                        <img src="/css/Img_IconForNavigation/Home-Loan.png" class="img-responsive" alt="Home Loan" title="Home Loan">
                                    </div>
                                    <b class="about_services_para">Home Loan</b>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-3 col-sm-3 col-3 col-xs-3 col-custom text-center col-centered row_cashWithdrawal">
                        <a data-target="#modalServiceComing" data-toggle="modal" class="radio1 radio1_center">
                            <div class="wallet-box bg-wt-round wallet_box_border">
                                <div class="inner">
                                    <div class="advantage-images">
                                        <img src="/css/Img_IconForNavigation/Instant-Loan.png" class="img-responsive" alt="Instant Loan" title="Instant Loan">
                                    </div>
                                    <b class="about_services_para">Instant Loan</b>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-3 col-3 col-xs-3 col-custom text-center col-centered row_cashWithdrawal">
                        <a data-target="#modalServiceComing" data-toggle="modal" class="radio1 radio1_center">
                            <div class="wallet-box bg-wt-round wallet_box_border">
                                <div class="inner">
                                    <div class="advantage-images">
                                        <img src="/css/Img_IconForNavigation/Digital-Business-Loan.png" class="img-responsive" alt="Digital Business Loan" title="Digital Business Loan">
                                    </div>
                                    <b class="about_services_para">Digital Business Loan</b>
                                </div>
                            </div>
                        </a>
                    </div>


                </div>
            </div>

            <div class="row" id="row2">
                <div class="col-md-12">
                    <div class="col-md-3 col-sm-3 col-3 col-xs-3 col-custom text-center col-centered row_cashWithdrawal">
                        <a data-target="#modalServiceComing" data-toggle="modal" class="radio1 radio1_center">
                            <div class="wallet-box bg-wt-round wallet_box_border">
                                <div class="inner">
                                    <div class="advantage-images">
                                        <img src="/css/Img_IconForNavigation/Gold-Loan.png" class="img-responsive" alt="Gold Loan" title="Gold Loan">
                                    </div>
                                    <b class="about_services_para">Gold Loan</b>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-3 col-3 col-xs-3 col-custom text-center col-centered row_cashWithdrawal">
                        <a data-target="#modalServiceComing" data-toggle="modal" class="radio1 radio1_center">
                            <div class="wallet-box bg-wt-round wallet_box_border">
                                <div class="inner">
                                    <div class="advantage-images">
                                        <img src="/css/Img_IconForNavigation/Digital-Personal-Loan.png" class="img-responsive" alt="Digital Personal Loan" title="Digital Personal Loan">
                                    </div>
                                    <b class="about_services_para">Digital Personal Loan</b>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<!-- Modal For ServicesComing-->
<div class="modal fade" id="modalServiceComing" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header modal-header-recharge">
                <a data-dismiss="modal" style="padding-top:12px;" class="close">&times;</a>
            </div>
            <div class="modal-body" style="background-color:white;">
                <div class="row">
                    <div class="col-sm-12" style="text-align:center">
                        <h3 style="text-align:center;font-weight:700;">This service is coming soon!</h3>
                    </div>
                </div>
            </div>
            <div class="modal-footer div-pay-row">
                <div class="row div-pay-row">
                    <div class="col-sm-4 final-pay-button">
                        <button type="button" id="btnPayNow" data-dismiss="modal" class="btn-process-recharge1 btn-process-recharge2 btn-process-recharge3">Ok</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>