@{
    ViewData["Title"] = "Error Handle Controller";
    Layout = "~/Pages/Shared/_LayoutMaster.cshtml";
}
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="~/servicesCSS/prepaidrecharge.css" />
<link href="~/ResponsiveCSS/LoginRequiredResponsive.css" rel="stylesheet" />
<link href="~/ResponsiveCSS/Index.css" rel="stylesheet" />

<br />
<br />
<br />
<br />

<div id="myModal" class="modal" style="display:block;">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-body" style="background:lightgoldenrodyellow;">
            <div class="col-sm-4 custom_img_size pay-img">
                @*<img src="~/css/Icon_Logo_BBPS/Warning_2.png" class="img-width" style="height:100px;width:120px;">*@
                <img src="~/css/Icon_Logo_BBPS/Warning_2.png" class="img-width img_warning">
            </div>
            <h2 class="heading">Login Required</h2>
            <br />
            <br />
            <center> <button class="btn btn-danger" id="myBtn">Close</button></center>
        </div>

    </div>

</div>

<br />
<script>
    $('#myBtn').click(function () {
        window.location.href = '@Url.Content("~/Home/Index")';
    });
    $('.close').click(function () {
        window.location.href = '@Url.Content("~/Home/Index")';
    });
</script>