.buttonToast {
    background: cornflowerblue;
    color: blue;
    border: none;
    padding: 10px;
    border-radius: 8px;
    font-family: 'Lato';
    margin: 5px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
}

    button:hover {
        background: orange;
    }
