@model IEnumerable<Project_Redmil_MVC.Models.ResponseModel.GetBalanceResponseModel>
@*@model IEnumerable<Project_Redmil_MVC.Models.ResponseModel.CashWalletRecentResponseDetailsPassbookModel>*@
@{
    ViewData["Title"] = "DMT 2.0 - Direct Money Transfer";
    Layout = "~/Pages/Shared/_LayoutMaster.cshtml";
}
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="~/servicesCSS/prepaidrecharge.css" />
<link href="~/css/depisteacordian/deposite.css" rel="stylesheet" />
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link href="~/datepicker/bootstrap-material-datetimepicker.css" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<link rel="stylesheet" href="~/css/navbarheader.css">
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<link href="~/ResponsiveCSS/Index.css" rel="stylesheet" />

<script src="~/datepicker/bootstrap-material-datetimepicker.js"></script>
<style>
    #exTab1 .tab-content {
        color: white;
        background-color: #428bca;
        padding: 5px 15px;
    }

    #exTab2 h3 {
        color: black;
        /*   background-color: a;*/
        padding: 5px 15px;
    }

    /* remove border radius for the tab */

    #exTab1 .nav-pills > li > a {
        border-radius: 0;
    }

    /* change border radius for the tab , apply corners on top*/

    #exTab3 .nav-pills > li > a {
        border-radius: 4px 4px 0 0;
    }

    #exTab3 .tab-content {
        color: white;
        background-color: #428bca;
        padding: 5px 15px;
    }




    .button-23:hover {
        color: white;
    }

    .wallet-box .bg-wt-round {
        background: #fff;
        border-radius: 30px;
        padding: 10px 0px;
    }

    .wallet_breadcumb-area {
        position: relative;
        padding: 140px 0;
        background-size: cover;
        background-position: center center;
        position: relative;
        background-position: 75% 10%;
    }

        .wallet_breadcumb-area:before {
            position: absolute;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            content: "";
            /*background: rgba(0, 0, 0, 0.5);*/
            top: 0;
            z-index: 0;
        }

        .wallet_breadcumb-area ul {
            text-align: center;
        }

            .wallet_breadcumb-area ul li {
                display: block;
                font-weight: 500;
                font-size: 16px;
                color: #fff;
            }

                .wallet_breadcumb-area ul li:first-child {
                    font-size: 50px;
                    font-weight: 700;
                    line-height: 5rem;
                    color: #fff;
                }

                .wallet_breadcumb-area ul li a {
                    color: #ffffff;
                }

    .box-button {
        background: dodgerblue;
        padding: 16px 24px;
        border-radius: 25px;
        /* width: 298px;*/
        position: relative;
        display: flex;
        font-size: 17px;
        color: #fff;
        font-weight: 500;
        line-height: 18px;
        text-align: center;
        margin-left: 80px;
        overflow-x: scroll;
        height: 150px;
        margin-right: 11px;
        text-align: center;
    }

    .font {
        text-align: center;
        margin-left: 20px;
        padding-left: 70px;
        padding-top: 20px;
        font-size: 20px;
        font-weight: 700;
    }
    /* Style the tab content */
    .tabcontent {
        /*display: none;*/
        padding: 20px 12px;
        border: 1px solid #ccc;
        /*width: 1200px;
                                 border-top: none;*/
    }

        .tabcontent .title {
            text-align: center;
            padding-bottom: 80px;
        }

            .tabcontent .title h1 {
                font-weight: 800;
            }

            .tabcontent .title .aval_bal, .cashBal {
                margin-top: 20px;
            }

            .tabcontent .title .aval_bal, .AdvBal {
                margin-top: -30px;
            }

            .tabcontent .title .advAval_bal, .AdvBal {
                margin-top: -33px;
            }

        .tabcontent .item_info {
            display: block;
            margin-top: 50px;
        }

            .tabcontent .item_info button {
                align-items: center;
                background-image: linear-gradient(1deg, #4F58FD, #2d385e 99%);
                background-size: calc(100% + 20px) calc(100% + 20px);
                border-radius: 100px;
                border-width: 0;
                color: #FFFFFF;
                cursor: pointer;
                display: inline-flex;
                font-family: CircularStd,sans-serif;
                font-size: 1.5rem;
                height: auto;
                justify-content: center;
                line-height: 1.5;
                padding: 6px 25px;
                position: relative;
                text-align: center;
                text-decoration: none;
                transition: background-color .2s,background-position .2s;
                user-select: none;
                margin-right: 24px;
                float: none;
                z-index: 1;
            }

        .tabcontent .title .item_info .rewbtn {
            margin-left: 300px;
        }

        .tabcontent hr {
            margin: 93px 0 0 20px;
            padding: 10px;
        }

    hr {
        border: none;
        border-top: 1px dotted black;
        color: #fff;
        background-color: #fff;
        height: 1px;
        width: 100%;
    }

    .div-browse-plan {
        margin-top: 15px;
        text-align: center;
        padding-top: 20px;
    }

    .div-plans-table {
        background: white;
        border-radius: 20px;
        display: none;
        height: 580px;
        overflow: auto;
    }

    .main-table-recharge {
        height: 100%;
        overflow: auto;
        width: 100%;
    }

    .div-second-plan-head1 {
        width: 12%;
        padding: 7px 104px;
    }

    .container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
        margin-right: -15px;
        margin-left: -4px;
    }

    .txt-input1 {
        border-radius: 0;
        height: 41px;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        font-size: 15px;
        font-weight: 500;
        padding: 10px 10px 10px 5px;
        /* border-bottom: 1px solid #ebebeb !important; */
        /* border: none; */
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin-top: 22px;
        margin-left: 184px;
    }

    .cross {
        background-color: #222;
        width: 28px;
        height: 28px;
        border-radius: 14px;
        margin: 7px;
        border: 3px solid;
        border-color: var(--white);
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAgMAAABiJsVCAAAADFBMVEUAAAD///////////84wDuoAAAAA3RSTlMAgGJiSVzhAAAAOElEQVQI12PQYGBqYNjLwP6AYb+D/AMG+Qv1DgzsX/8yMDD+/8LAwFB/AUxAuGAJsBKwYrA2sAEADzMWbZHdzhcAAAAASUVORK5CYII=) !important;
        background-repeat: no-repeat;
        background-position: 50%;
        white-space: nowrap;
        box-sizing: border-box;
        top: -24px;
        right: -33px;
        z-index: 9;
        cursor: pointer;
        position: fixed;
    }

    .div_Space {
        height: 731px;
    }

    li {
        margin-left: 10px;
        font-size: 12px;
    }

    .buttondesposite {
        align-items: center;
        appearance: none;
        background-color: #3EB2FD;
        background-image: linear-gradient(1deg, #4F58FD, #2d385e 99%);
        background-size: calc(100% + 20px) calc(100% + 20px);
        border-radius: 1px;
        border-width: 0;
        box-shadow: none;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-flex;
        font-family: CircularStd,sans-serif;
        font-size: 1.5rem;
        height: auto;
        justify-content: center;
        line-height: 1.5;
        padding: 6px 25px;
        position: relative;
        text-align: center;
        text-decoration: none;
        transition: background-color .2s,background-position .2s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: top;
        white-space: nowrap;
        margin-right: 50px;
        /* float: right; */
        margin-top: 28px;
        z-index: 1;
    }

    .modal-confirm {
        color: #636363;
        width: 325px;
        font-size: 14px;
    }

        .modal-confirm .modal-content {
            padding: 20px;
            border-radius: 5px;
            border: none;
        }

        .modal-confirm .modal-header {
            border-bottom: none;
            position: relative;
        }

        .modal-confirm h4 {
            text-align: center;
            font-size: 26px;
            margin: 30px 0 -15px;
        }

        .modal-confirm .form-control, .modal-confirm .btn {
            min-height: 40px;
            border-radius: 3px;
        }

        .modal-confirm .close {
            position: absolute;
            top: -5px;
            right: -5px;
        }

        .modal-confirm .modal-footer {
            border: none;
            text-align: center;
            border-radius: 5px;
            font-size: 13px;
        }

        .modal-confirm .icon-box {
            color: #fff;
            position: absolute;
            margin: 0 auto;
            left: 0;
            right: 0;
            top: -70px;
            width: 95px;
            height: 95px;
            border-radius: 50%;
            z-index: 9;
            background: #82ce34;
            padding: 15px;
            text-align: center;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
        }

            .modal-confirm .icon-box i {
                font-size: 58px;
                position: relative;
                top: 3px;
            }

        .modal-confirm.modal-dialog {
            margin-top: 80px;
        }

        .modal-confirm .btn {
            color: #fff;
            border-radius: 4px;
            background: #82ce34;
            text-decoration: none;
            transition: all 0.4s;
            line-height: normal;
            border: none;
        }

            .modal-confirm .btn:hover, .modal-confirm .btn:focus {
                background: #6fb32b;
                outline: none;
            }

    .trigger-btn {
        display: inline-block;
        margin: 100px auto;
    }

</style>
<br />
<div class="container-fluid" style="background:#ebebeb">
    <div class="first-header">
        <div class="section make_tomorrow_digital background-image" style="background-image: linear-gradient(225deg, #003366 0%, #345beb 49%, #5634eb 100%); background-size: cover;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="call-to-action">
                            <div class="row">
                                <div class="col-sm-7 col-xs-12 dmt">
                                    <h3 class="padding-left-right-50 " style="margin-top: 20px; margin-left:300px;text-align:center; font-weight: 700; cursor: pointer;">@Accessor.HttpContext.Session.GetString("Mallname")</h3>
                                </div>
                                <div class="col-sm-5 col-xs-12 text-right">
                                    <div class="read-more padding-top-bottom-40">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="container" style="background-color:white;">
        <div class="row formedia">
            <div class="col-md-3 col-lg-3 col-sm-3">
                <img src="~/css/Img_DMT2/Img_Cash.jpeg" class="img-width" style="height:100px;width:120px;">
            </div>
            <div class=" col-sm-3 col-md-3 col-lg-3 col-sm-3">
                <p class="aval_bal" style="font-size:20px; margin-top:28px; "><b>Available Balance:</b></p>
            </div>
            <div class=" col-sm-3 col-md-3 col-lg-3 col-sm-3">
                @*<p class="aval_bal" style="font-size:20px; margin-top:28px; "><label id="lblBalance">₹@Accessor.HttpContext.Session.GetString("Balance")</label></></p>*@
                <p class="aval_bal" style="font-size:20px; margin-top:28px; "><label id="lblBalance">₹ @Model.FirstOrDefault().MainBal</label></></p>
            </div>
            @* <div class=" col-sm-3 col-md-3 col-lg-3 col-sm-3"> FirstOrDefault().getBalanceResponseModels.
            <p class="aval_bal" style="font-size:20px;"><button class="button-21"> Add Money</button></p>
            </div>*@
        </div>
    </div>
    <br />
    <div class="container"></div>

    <div id="exTab2" class="container">
        <ul class="nav nav-tabs" style="margin-left:300px;">
            @*<li class="active">


            <a href="#1" data-toggle="tab"><img src="~/img/device biometric image/upi-tab (1).png" style="width: 237px;" /></a>
            </li>
            <li>

            <a href="#2" data-toggle="tab">
            <img src="~/img/device biometric image/virtual-account-tab (1).png" style="width:237px;" />

            </a>
            </li>*@
            <li>
                <a href="#3" data-toggle="tab">
                    <img src="~/img/device biometric image/cash-deposit-tab (1).png" style="width: 237px;" />
                    @* <img src="~/img/device biometric image/credit.jpg" style="height:189px; width: 224px;" />*@
                </a>
            </li>
        </ul>

        <div class="tab-content">
            @*<div class="tab-pane active" id="1">
            <div class="third-header">
            <div class="container card" style="background:white; border: 2px solid white ;padding: 10px;border-radius: 25px;">
            <div class="card-body" style="font-size: 40px;text-align:center; font-weight: 700; cursor: pointer;">
            <h3 class="card-title" style="margin-top:15px;text-align:center;padding-top: 20px;"><strong>UPI METHOD</strong></h3>
            <h6>Processing fee =0%</h6>
            <div class="form-group-recharge">
            <label>
            <strong style="margin-left:-182px;font-size:20px;">Amount</strong>
            </label>
            <input id="txtCustomerMobile" style="margin-left:-30px;" autocomplete="off" type="tel" maxlength="10" required="required" class="txt-input1 js-input-mobile txt-input-text" placeholder="₹1000" />
            <br />
            <h6><span id="errCustomerMobile" style="margin-left:-30px;" class="errorMsg"></span></h6>
            <button type="submit" id="btnProceed" class="button-21" style="margin-top:-5px">PAY</button>
            </div>
            </div>
            </div>
            </div>
            </div>*@
            @*   <div class="tab-pane" id="2">
            <div class="container card" style="background:white; border: 2px solid white ;padding: 10px;border-radius: 25px;">
            <div class="card-body" style="font-size: 40px;text-align:center; font-weight: 700; cursor: pointer;">
            <h3 class="card-title" style="margin-top:15px;text-align:center;padding-top: 20px;"><strong>Virtual Account</strong></h3>*@
            @*<h6>Processing fee =0%</h6>*@
            @*  <div class="form-group-recharge">
            <label>
            <strong style="margin-left:-182px;font-size:20px;">Amount</strong>
            </label>
            <input id="txtCustomerMobile" style="margin-left:-30px;" autocomplete="off" type="tel" maxlength="10" required="required" class="txt-input1 js-input-mobile txt-input-text" placeholder="₹1000" />
            <br />
            <h6><span id="errCustomerMobile" style="margin-left:-30px;" class="errorMsg"></span></h6>
            <button type="submit" id="btnProceed" class="button-21" style="margin-top:-5px">PAY</button>
            </div>
            </div>
            </div>
            </div>*@
            <div class="tab-pane" id="3">
                <div class="container card" style="background:white; border: 2px solid white ;padding: 10px;border-radius: 25px;">
                    <div class="card-body" style="font-size: 40px;text-align:center; font-weight: 700; cursor: pointer;">
                        <h3 class="card-title" style="margin-top:15px;text-align:center;padding-top: 20px;">You Can Deposit/Transfer With our Banking Parteners</h3><hr /><br />
                        <h4>How to Do</h4><hr />
                        <h2><strong>Cash Deposite/Transfer</strong></h2>
                        <img src="~/img/device biometric image/camera.png" onclick="OpenDeposte()" />
                        @* <input type="file" class="form-control" style="margin-left: 316px; width: 363px;" /><br>*@
                        <h4><strong>Upload deposite slip here</strong></h4><br />
                        <button class="button-21" style="margin-bottom:20px;padding:-31px;border-radius: 20px;">
                            Find Cash Deposite Point
                        </button><br />
                        <button class="button-21 " onclick="DepositeData()">How to Deposite/Online Transfer</button>


                        @*<div class="form-group-recharge">
                        <label>
                        <strong style="margin-left:-182px;font-size:20px;">Amount</strong>
                        </label>
                        <input id="txtCustomerMobile" style="margin-left:-30px;" autocomplete="off" type="tel" maxlength="10" required="required" class="txt-input1 js-input-mobile txt-input-text" placeholder="₹1000" />
                        <br />
                        <h6><span id="errCustomerMobile" style="margin-left:-30px;" class="errorMsg"></span></h6>
                        <button type="submit" id="btnProceed" class="button-21" style="margin-top:-5px">PAY</button>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <br />

    <hr />
    <div>
        <div class="col col-md-12 col-sm-12 col-lg-12">
            <img src="/css/ImageSlide/REDMIL-BUSINESS-MALL-01.png" style="width:100%;height:400px" alt="Norway" />
        </div>
    </div>
    <hr>
    @*  <div class="fourth-header">
    <div class="container card" style="background:white; border: 2px solid white ;padding: 10px;border-radius: 25px;">
    <div class="card-body" style="font-size: 40px;text-align:center; font-weight: 700;">
    <div class="col-md-6 col-sm-6 col-lg-6">
    <div class="wallet-box bg-wt-round">
    <div class="inner">
    <div class="advantage-images">
    <img src="~/css/Img_DMT2/Img_Sender.jpeg" class="img-responsive" alt="Business opportunity with minimal investments">
    </div>
    <h4><button style="margin-left: 55px;" class="button-21" type="button" id="btnRecentSender"><b>Recent Senders</b></button></h4>
    </div>
    </div>
    </div>
    <div class="col-md-6 col-sm-6 col-lg-6">
    <div class="wallet-box bg-wt-round">
    <div class="inner">
    <div class="advantage-images">
    <img src="~/css/Img_DMT2/Img_business_report,jpeg.jpg" class="img-responsive" alt="Superior &amp; secure technology platform">
    </div>
    <h4>
    <a href="~/MyBusinessReports/GetDMTDataList" style="margin-left: 55px;text-decoration: unset;color: white" class="button-21" type="button" id="btnBusinessRepo"><b>Business Reports</b></></a>
    </h4>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>*@



    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <input type="button" id="cashDeposites" style="display:none" data-target="#cashDeposite" data-toggle="modal" />
            <div id="cashDeposite" role="dialog" class="modal fade" aria-modal="true" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog modal-confirm" style="width:40%;margin-top: 161px;">

                    <div class="modal-content" style="height: 804px;color:black;">
                        @* <span  style="padding-top:20px;padding-right: 20px;" data-dismis="modal" class="close">&times;</span>*@
                        <div class="cross" aria-label="Close" data-dismiss="modal">
                            <button type="button" class="close design" data-dismiss="modal" aria-label="Close">
                            </button>
                        </div>

                        <div class="modal-body">
                            <div class="">
                                <div class="">
                                    <img id="DetailLogo" style="height:63px;margin-left:288px;">
                                </div>
                                <h4 id="DetailTitle" class="modal-title w-100" style="margin-top:-100px;padding:34px">Upload Deposite Slip</h4>
                            </div>
                            <div class="col-sm-12">
                                <form action="/Passbook/FinalMakeCashDeposite" method="post" enctype="multipart/form-data">
                                    <div class="row">
                                        <div style="width:136px;margin-left:236px">
                                            <p id="image-holder"></p>
                                        </div>

                                        @* <div class="col-sm-6">
                                        <div class="form-group">
                                        <label for="appt">Take Photo</label>
                                        <input type="file" id="fileUpload" name="fileUpload" class="form-control" style="width: 89%;" />
                                        <span id="tp"></span>
                                        </div>
                                        </div>*@
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label for="appt">Upload Photo</label>
                                                <input type="file" id="fileUpload" name="fileUpload" multiple class="form-control" style="width: 100%;" />
                                                <span id="up"></span>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="form-group">
                                            <select class="form-control" id="dbank">
                                                <option value="0">  -- Choose Mode  -- </option>

                                            </select>
                                            <span id="cm"></span>
                                        </div>
                                        <div class="col-sm-6">
                                            <label for="appt">Enter Date:</label>
                                            <input type="text" id="dats" placeholder="Select Date" class="form-control" style="width:82%">
                                            <label id="ed"></label>
                                        </div>
                                        <div class="col-sm-6">
                                            @*<label class="dateLbl1"><b>To Date:</b></label>*@
                                            @*<p> <input type="text" id="datepickerAd1" placeholder="To Date" class="form-control" style="width:82%"></p>*@
                                            <label for="appt">Enter time:</label>
                                            <input type="time" id="appt" name="appt" class="form-control" style="width:82%">
                                            <label id="et"></label>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label for="appt"> Please Enter Trasaction Id:</label>
                                                <input type="text" placeholder="Transaction Id" id="TID" class="form-control" />
                                                <span id="pip"></span>
                                            </div>
                                            <div class="form-group">
                                                <label for="appt">  Enter Deposite/Trasaction Amount</label>
                                                <input type="text" placeholder="Enter Amount" id="Tam" class="form-control" />
                                                <span id="Ed"></span>
                                            </div>
                                            <div class="form-group">
                                                <label for="appt">  Enter Remarks</label>
                                                <textarea name="w3review" rows="4" id="Remarks" cols="50" class="form-control"></textarea>
                                                <span id="er"></span>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-sm-12">
                                <div class="modal-footer" style="margin-top:-40px">
                                    <button type="button" class="button-21 btnDesposite" id="DetailButton"><b>Submit</b></button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Modal Deposite Data-->
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <input type="button" id="Depositedatamodals" style="display:none" data-target="#Depositedatamodal" data-toggle="modal" />
            <div id="Depositedatamodal" role="dialog" class="modal fade" aria-modal="true" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog modal-confirm" style="width:650px;margin-top:171px;margin-left:680px">
                    <div class="modal-content" style="height:100%;width:640px;color: black;padding:31px;background-color:whitesmoke">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" style="padding-right:14px; padding-right: 14px; font-size: 25px; font-weight: bolder;">×</span>
                        </button>
                        <div class="modal-body fullbody">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="inc">
                                        <div class="controls">
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>


    <!-- Modal For Success -->
    <input type="button" id="Success" style="display:none" data-target="#Succes" data-toggle="modal" />

    <div id="Succes" class="modal fade" aria-modal="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-confirm" style="margin-top:222px;">
            <div class="modal-content" style="height:308px;width:498px;">
                <div class="">
                    <div class="icon-box">
                        <i class="material-icons">&#xE876;</i>
                    </div>
                    @* <h2 class="w-100 Awa"></h2>*@
                </div>
                <div class="modal-body">
                    <h3 class="text-center Awa" style="margin-top: 64px;"></h3>
                </div>
                <div class="modal-footer" style="margin-top:53px">
                    <button class="btn btn-success btn-block" onclick="disopen()">OK</button>
                </div>
            </div>
        </div>
    </div>
    <!--Modal FOR Error -->
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <input type="button" id="ErrorDeposites" style="display:none" data-target="#ErrorDeposite" data-toggle="modal" />
            <div id="ErrorDeposite" role="dialog" class="modal fade" aria-modal="true" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog modal-confirm" style="width:650px;margin-top:171px;margin-left:680px">
                    <div class="modal-content" style="height:438px;width:464px;color: black;padding:31px;">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" style="padding-right: 14px; padding-right: 14px; font-size: 25px; font-weight: bolder;">×</span>
                        </button>
                        <div class="modal-body forhide">
                            <div style="margin-top:-45px;">
                                <img src="~/img/device biometric image/oops2_new.png" style="width:370px;height:245px;" />
                                @*  <img src="~/img/oops2.png" style="width:370px;height:245px;" />*@
                            </div>
                            <h4 id="ERRDEPOSITE" class="modal-title w-100"></h4>
                            <div class="modal-footer">
                                <button type="button" class="button-21" data-dismiss="modal" style="width: 194px;margin-left: 46px;margin-top:-180px;">
                                    <b>Ok</b>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    $(function () {
        $("#dats").datepicker();
    });


    var Title;
    function DepositeData() {

        $.ajax({
            url: "/Passbook/DetailDeposite",
            data: {},
            type: 'POST',
            dataType: 'json',
            success: function (responsedata) {
                debugger;
                if (responsedata.result == "EmptyResult") {
                    window.location.href = responsedata.url;
                }
                else if (responsedata.result == "RedirectToException") {
                    window.location.href = responsedata.url;
                }
                else {
                    for (var i = 0; i < responsedata.length; i++) {

                        var baseurl = "https://api.redmilbusinessmall.com";
                        var Amlletter = baseurl + responsedata[i].amlLetter;

                        Title = responsedata[i].title;
                        var id = "txtInput" + i;
                        $(".inc").append('<div class="col-sm-12 div_Space"><div class="card" style="background-color:white;height:668px;width:484px;margin-top:-40px;margin-left:66px;" >\<div class="card-body" style="padding:22px;"><h3 class="text center" style="font - size: 20px; ">' + responsedata[i].modeName + '</h3><h5>' + responsedata[i].statement + '</h4><p><button class="buttondesposite" data-toggle="collapse" href="#' + id + '" role= "button" aria-expanded="false" aria-controls="' + id + '">Step To Follow</button></p><div class="row"><div class="col"><div class="collapse multi - collapse" id="' + id + '" ><div class="card card-body"><div><b>STEP-1<b><br><ul><li>' + responsedata[i].step1 + '</li></ul></div><div><b>STEP-2<b><br><ul><li>' + responsedata[i].step2 + '</li></ul></div><p>Beneficary Name :' + responsedata[i].beneficiaryName + '</p><p>Account Number:' + responsedata[i].accountNumber + '</p><p>Ifsc Code: ' + responsedata[i].ifseCode + '</p><br><b>STEP-3<b><br><ul><li>' + responsedata[i].step3 + '</li></ul><br><b>STEP-4<b><br><ul><li>' + responsedata[i].step4 + '</li></ul><p>Processing Charges: ' + responsedata[i].processingcharge + ' </p><p>To Download AML Letter : <a value=' + Amlletter + ' class="aml">Click Here</a> </p></div></div></div></div></div></div >\</div></div > <br/>');
                    }
                    $("#Depositedatamodals").trigger("click");
                }

            }
        });

    }


    $('.aml').on('click', function () {
        debugger;
        this.img = img;
        $("#cashDeposites").trigger("click");

    })
    function OpenDeposte() {

        $.ajax({
            url: "/Passbook/DetailDeposite",
            data: {},
            type: 'POST',
            dataType: 'json',
            success: function (responsedata) {
                if (responsedata.result == "EmptyResult") {
                    window.location.href = responsedata.url;
                }
                else if (responsedata.result == "RedirectToException") {
                    window.location.href = responsedata.url;
                }
                else {
                    for (var i = 0; i < responsedata.length; i++) {
                        $("#dbank").append($("<option></option>").val(responsedata[i].id).html(responsedata[i].title));
                    }
                    $("#cashDeposites").trigger("click");
                }
            }
        });


    }

    $("#fileUpload").on('change', function () {

        //Get count of selected files
        var countFiles = $(this)[0].files.length;

        var imgPath = $(this)[0].value;
        var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
        var image_holder = $("#image-holder");
        image_holder.empty();

        if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
            if (typeof (FileReader) != "undefined") {

                //loop for each file selected for uploaded.
                for (var i = 0; i < countFiles; i++) {

                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $("<img />", {
                            "src": e.target.result,
                            "class": "thumb-image"
                        }).appendTo(image_holder);
                    }

                    image_holder.show();
                    reader.readAsDataURL($(this)[0].files[i]);
                }

            } else {
                alert("This browser does not support FileReader.");
            }
        } else {
            alert("Pls select only images");
        }
    });


    $(".btnDesposite").on('click', function () {
        debugger;
        //var takecamera = $('#takecamera').val();
        var File = $("#fileUpload").get(0).files;
        if (File.length == "0") {
            $('#up').text('Please Select Any Picture');
            $('#up').css('color', 'red');
            $('#up').css('margin-left', '5px');
            $('#up').focus();
            return false;
        }
        var FileData = new FormData();
        for (var i = 0; i < File.length; i++) {
            FileData.append("Docss", File[i]);
        }
        //var File = $('#fileUpload').val();
        var Mode = $('#dbank').val();
        var Dataing = $('#dats').val();
        var Timing = $('#appt').val();
        var Tid = $('#TID').val();
        var AmountT = $('#Tam').val();
        var Remarks = $('#Remarks').val();
        FileData.append("Mode", Mode);
        FileData.append("Dataing", Dataing);
        FileData.append("Timing", Timing);
        FileData.append("Tid", Tid);
        FileData.append("AmountT", AmountT);
        FileData.append("Remarks", Remarks);
        if (Mode.trim() == "" || Mode.trim() == "0") {
            $('#fileUpload').focus()
            $('#cm').text('Please Choose Mode');
            $('#cm').css('color', 'red');
        }
        else if (Dataing.trim() == "") {
            $('#Ads').focus()
            $('#ed').text('Please Enter Date ');
            $('#ed').css('color', 'red');
        }
        else if (Timing.trim() == "") {
            $('#appt').focus()
            $('#et').text('Please Enter Time ');
            $('#et').css('color', 'red');
        }
        else if (Tid.trim() == "") {
            $('#TID').focus()
            $('#pip').text('Please Enter Trasaction Id ');
            $('#pip').css('color', 'red');
        }
        else if (AmountT.trim() == "") {
            $('#Tam').focus()
            $('#Ed').text('Please Enter Amount ');
            $('#Ed').css('color', 'red');
        }
        else if (Remarks.trim() == "") {
            $('#Remarks').focus()
            $('#er').text('Please Enter Remarks ');
            $('#er').css('color', 'red');
        }
        else {
            $.ajax({

                type: "POST",
                url: "/Passbook/FinalMakeCashDeposite",
                dataType: "json",
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: FileData,
                success: function (result, status, xhr) {
                    if (result.result == "EmptyResult") {
                        window.location.href = result.url;
                    }
                    else if (result.result == "RedirectToException") {
                        window.location.href = result.url;
                    }
                    else if (result.statuscode == "TXN") {
                        ClearDeposite()
                        $('.Awa').text(result.message);
                        $("#Success").trigger("click");
                        $("#cashDeposite").hide();
                    }
                    else {
                        ClearDeposite()
                        $('#ERRDEPOSITE').text(result.message);
                        $("#ErrorDeposite").trigger("click");

                    }
                }
            });

        }
    });
    function ClearDeposite() {
        $('#dbank').val("");
        $('#dats').val("");
        $('#appt').val("");
        $('#TID').val("");
        $('#Tam').val("");
        $('#Remarks').val("");
    }
    function disopen() {
        location.reload();
    }
</script>


<script src="https://code.jquery.com/jquery-3.5.1.js" asp-append-version="true"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

<script src="~/rechargejs/recharge.js"></script>
<srcipt src="jquery.redirect.js"></srcipt>

<script>

    //$('.head1').click(function () {
    //    $(this).toggleClass('active');
    //    $(this).parent().find('.arrow').toggleClass('arrow-animate');
    //    $(this).parent().find('.content').slideToggle(280);
    //});
</script>