@using Project_Redmil_MVC
@{
    ViewData["Title"] = "About REDMIL - REDMIL";
    Layout = "~/Pages/Shared/_LayoutMaster.cshtml";
}
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="~/servicesCSS/prepaidrecharge.css" />
<link href="~/ResponsiveCSS/Index.css" rel="stylesheet" />

<div class="section breadcumb-area background-image" style="background-image: url('../css/Img/about-bg.jpg')">
    <div class="container ">
        <div class="row">
            <div class="col-sm-12 text-center">
                <ul>
                    <li><strong>About Us</strong></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<section class="join-padding page-section padding-bottom-50 padding-top-50 leader_bg_img">
    <div class="contact  style-3 light-border animate fadeInUp" data-wow-delay="0.1s">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h2><span>Leadership</span></h2>
                    </div>
                </div>
            </div>
            <div class="row" style="text-align:center;">
                <div class="col-md-1 col-sm-12 col-xs-12 "></div>
                <div class="col-md-2 col-sm-12 col-xs-12 padding-top-10 custom_img_size">
                    <img src="~/css/Leader Circle/Mr.-Ashish-Paliwal-modified.png" alt="Mr. Ashish Paliwal" class="img-width img-management">
                    <div class="overlay"> <a href="#" target="_blank" class="icon" title="Mr. Ashish Paliwal"><i class="fa fa-linkedin"></i></a></div>
                    <div class="leadership_name">
                        <br />
                        <p class="about-lead"><b>Mr. Ashish Paliwal</b></p>
                        <p> Redmil Business Mall</p>
                    </div>
                </div>

                <div class="col-md-2 col-sm-12 col-xs-12 padding-top-10 custom_img_size">
                    <img src="~/css/Leader Circle/Mrs.-Shweta-Paliwal-modified.png" alt="Mrs. Shweta Paliwal" class="img-width img-management">
                    <div class="overlay"> <a href="#" target="_blank" class="icon" title="Mrs. Shweta Paliwal"><i class="fa fa-linkedin"></i></a></div>
                    <div class="leadership_name">
                        <br />
                        <p class="about-lead"><b>Mrs. Shweta Paliwal</b></p>
                        <p>Director</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12 col-xs-12 padding-top-10 custom_img_size">
                    <img src="~/css/Leader Circle/Mr.-Sagar-Raj-Singhal-modified.png" alt="Mr.Sagar Raj Singhal" class="img-width img-management">
                    <div class="overlay"> <a href="https://www.linkedin.com/in/dilipmodi/ " target="_blank" class="icon" title="Mr.Sagar Raj Singhal"><i class="fa fa-linkedin"></i></a></div>
                    <div class="leadership_name">
                        <br />
                        <p class="about-lead"><b>Mr.Sagar Raj Singhal</b></p>
                        <p>CEO & Co-founder REDMIL Business Mall</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12 col-xs-12 padding-top-10 custom_img_size">
                    <img src="~/css/Leader Circle/Mr.-Vinay-Paliwal-modified.png" alt="Mr. Vinay Paliwal" class="img-width img-management">
                    <div class="overlay"> <a href="https://www.linkedin.com/in/dilipmodi/" target="_blank" class="icon" title="Mr. Vinay Paliwal"><i class="fa fa-linkedin"></i></a></div>
                    <div class="leadership_name">
                        <br />
                        <p class="about-lead"><b>Mr. Vinay Paliwal</b></p>
                        <p>Business Head. ISO</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12 col-xs-12 padding-top-10 custom_img_size">
                    <img src="~/css/Leader Circle/CA-Shivam-Singh-e1577366944519-modified.png" alt="CA Shivam Singh" class="img-width img-management">
                    <div class="overlay"> <a href="" target="_blank" class="icon" title="CA Shivam Singh"><i class="fa fa-linkedin"></i></a></div>
                    <div class="leadership_name">
                        <br />
                        <p class="about-lead"><b>CA Shivam Singh</b></p>
                        <span></span>
                    </div>
                </div>

            </div>
            <div class="row" style="text-align:center;">
                <div class="col-md-1 col-sm-12 col-xs-12 "></div>

                <div class="col-md-2 col-sm-12 col-xs-12 padding-top-10 custom_img_size">
                    <img src="~/css/Leader Circle/CA-Rohan-Yadav-modified.png" alt="CA Rohan Yadav" class="img-width img-management">
                    <div class="overlay"> <a href="#" target="_blank" class="icon" title="CA Rohan Yadav"><i class="fa fa-linkedin"></i></a></div>
                    <div class="leadership_name">
                        <br />
                        <p class="about-lead"><b>CA Rohan Yadav</b></p>
                        <span></span>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12 col-xs-12 padding-top-10 custom_img_size">
                    <img src="~/css/Leader Circle/CS-Saurabh-Saxena-modified.png" alt="CS Saurabh Saxena" class="img-width img-management">
                    <div class="overlay"> <a href="3" target="_blank" class="icon" title="CS Saurabh Saxena"><i class="fa fa-linkedin"></i></a></div>
                    <div class="leadership_name">
                        <br />
                        <p class="about-lead"><b>CS Saurabh Saxena</b></p>
                        <p>Business Head, Copyright/Trademark</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12 col-xs-12 padding-top-10 custom_img_size">
                    <img src="~/css/Leader Circle/Bharat-Seth-modified.png" alt="Mr.Bharat Seth" class="img-width img-management">
                    <div class="overlay"> <a href="#" target="_blank" class="icon" title="Mr.Bharat Seth"><i class="fa fa-linkedin"></i></a></div>
                    <div class="leadership_name">
                        <br />
                        <p class="about-lead"><b>Mr.Bharat Seth</b></p>
                        <p>Business Head. Mutual Fund</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12 col-xs-12 padding-top-10 custom_img_size">
                    <img src="~/css/Leader Circle/Shruti-Tripathi-e1645109817889-modified.png" alt="Shruti Tripathi" class="img-width img-management">
                    <div class="overlay"> <a href="#" target="_blank" class="icon" title="Shruti Tripathi"><i class="fa fa-linkedin"></i></a></div>
                    <div class="leadership_name">
                        <br />
                        <p class="about-lead"><b>Shruti Tripathi</b></p>
                        <p>HR & Administration Head</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12 col-xs-12 padding-top-10 custom_img_size">
                    <img src="~/css/Leader Circle/Gaurav-Bhatiya-e1645109936407-modified.png" alt="Gaurav Bhatiya" class="img-width img-management">
                    <div class="overlay"> <a href="#" target="_blank" class="icon" title="Gaurav Bhatiya"><i class="fa fa-linkedin"></i></a></div>
                    <div class="leadership_name">
                        <br /><p class="about-lead"><b>Gaurav Bhatiya</b></p><p>Accounts Head</p>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>

<div class="container">
    <div class="section-title text-center">
        <h2><span class="p-story section-title">Redmil is leading Fintech platform in India.</span></h2>
    </div>
    <p class="p-story">And we went on to become India’s leading Payments App. Today, more than 20 Million merchants &amp; businesses are powered by Redmil to Accept Payments digitally.</p>
    <p class="p-story">This is because more than 300 million Indians use Redmil to Pay at their stores. And that’s not all, Redmil Business Mall App is used to Pay bills, do Recharges, Send money to friends &amp; family, Book movies &amp; travel tickets.</p>
    @*<div class="section-title text-center about-inner">
        <h2>
            <span class="p-story section-title ">
            Our Mission. Our Vow
            </span>
        </h2>
    </div>*@
    <div class="about">
            <div class="about-inner">
                <p style="visibility:visible" class="p-story section-title ">  Our Mission. Our Vow</p>
            </div>
        </div>
    <p class="p-story">With innovations to Financial services &amp; products in pipeline, this is but one of the milestones achieved towards our mission—To bring 500 million unserved and underserved Indians to the mainstream economy.</p>
</div>
<br />
<!--Slider Starts Here-->

<div class="section single-services-area">
    <div class="row">
        <br>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">

                <div class="item" id="mySlides">
                    <img src="~/css/Achievement Images/Sept 2016.jpeg" alt="Chania" width="460" height="345">
                </div>

                <div class="item" id="mySlides">
                    <img src="~/css/Achievement Images/March 2017.jpeg" alt="Chania" width="460" height="345">

                </div>

                <div class="item" id="mySlides">
                    <img src="~/css/Achievement Images/Sept 2017.jpeg" alt="Flower" width="460" height="345">

                </div>

                <div class="item" id="mySlides">
                    <img src="~/css/Achievement Images/March 2018.jpeg" alt="Flower" width="460" height="345">
                </div>

                <div class="item" id="mySlides">
                    <img src="~/css/Achievement Images/Sept 2018.jpeg" alt="Flower" width="460" height="345">
                </div>

                <div class="item" id="mySlides">
                    <img src="~/css/Achievement Images/Dec 2018.jpeg" alt="Flower" width="460" height="345">
                </div>

                <div class="item" id="mySlides">
                    <img src="~/css/Achievement Images/Sept 2019.jpeg" alt="Flower" width="460" height="345">
                </div>

                <div class="item" id="mySlides">
                    <img src="~/css/Achievement Images/Dec 2019.jpeg" alt="Flower" width="460" height="345">
                </div>

                <div class="item" id="mySlides">
                    <img src="~/css/Achievement Images/March 2020.jpeg" alt="Flower" width="460" height="345">
                </div>

                <div class="item" id="mySlides">
                    <img src="~/css/Achievement Images/June 2020.jpeg" alt="Flower" width="460" height="345">
                </div>

                <div class="item" id="mySlides">
                    <img src="~/css/Achievement Images/Sep 2020.jpeg" alt="Flower" width="460" height="345">
                </div>

                <div class="item" id="mySlides">
                    <img src="~/css/Achievement Images/Dec 2020.jpeg" alt="Flower" width="460" height="345">
                </div>

                <div class="item" id="mySlides">
                    <img src="~/css/Achievement Images/March 2021.jpeg" alt="Flower" width="460" height="345">
                </div>

                <div class="item" id="mySlides">
                    <img src="~/css/Achievement Images/June 2021.jpeg" alt="Flower" width="460" height="345">
                </div>

                <div class="item" id="mySlides">
                    <img src="~/css/Achievement Images/Sept 2021.jpeg" alt="Flower" width="460" height="345">
                </div><div class="item" id="mySlides">
                    <img src="~/css/Achievement Images/Dec 2021.jpeg" alt="Flower" width="460" height="345">
                </div><div class="item" id="mySlides">
                    <img src="~/css/Achievement Images/March 2022.jpeg" alt="Flower" width="460" height="345">
                </div><div class="item" id="mySlides">
                    <img src="~/css/Achievement Images/June 2022.jpeg" alt="Flower" width="460" height="345">
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    var myIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("item");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) { myIndex = 1 }
        x[myIndex - 1].style.display = "block";
        setTimeout(carousel, 2500); // Change image every 3 seconds
    }
</script>






